.galleryTitle--layout {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  margin-bottom: 2px;
}

.filter__container--brand {
  display: none;
}
.filter__container {
  border-color: #d9d9d9;
  margin-bottom: 24px;
  padding-bottom: 24px;
}
.filter__container:last-child {
  border: 0;
  margin: 0;
  padding: 0;
}
.filterTemplateOverflow {
  padding-bottom: 0;
}
.filterTemplateOverflow::-webkit-scrollbar {
  width: 5px;
}
.filterTemplateOverflow::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #a8a8a8;
}
.filterTemplateOverflow::-webkit-scrollbar-thumb {
  background: #474747;
}

.filterMessage {
  margin: 0 0 10px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  padding: 10px;
}

.filterSelected {
  padding: 7px 10px;
}
.filterTitleSpan {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}
.filterIcon {
  padding: 5px 8px 0;
  color: #696969;
}

.filterItem:not(:first-child) {
  margin-top: 12px;
}
.filterItem :global(.vtex-checkbox__container),
.filterItem :global(.vtex-checkbox__inner-container),
.filterItem :global(.vtex-checkbox__box-wrapper),
.filterItem :global(.vtex-checkbox__input) {
  width: 12px;
  height: 12px;
}
.filterItem :global(.vtex-checkbox__inner-container) {
  border-color: #a8a8a8;
  border-width: 1px;
  border-radius: 2px;
}
.filterItem :global(.vtex-checkbox__line-container) {
  display: flex;
  align-items: baseline;
}
.filterItem :global(.vtex-checkbox__label),
.filter__container :global(.vtex-slider__left-value),
.filter__container :global(.vtex-slider__right-value) {
  font-size: 14px;
  line-height: 19px;
  color: #474747;
  transition: all 0.3s ease-in-out;
}
.filterItem :global(.vtex-checkbox__label):hover {
  color: #212121;
}
.productCount {
  color: #a8a8a8;
  font-size: 12px;
  line-height: 16px;
}

.filter {
  padding: 0;
}
.filter.filterIsOpen,
.filter__container--priceRange .filter {
  margin-bottom: 24px;
}

.filter__container :global(.vtex-slider-container) {
  padding: 0 8px;
}

.filter__container--priceRange :global(.vtex-slider__base-internal) {
  background: #d9d9d9;
}
.filter__container--priceRange :global(.vtex-slider__selector) {
  background: #ed1a3b;
}

.totalProducts--layout,
.orderByButton {
  padding: 0;
}
.totalProducts--layout {
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: #767676;
  text-transform: lowercase;
  border: none;
}
.totalProductsMessage {
  color: inherit;
  font-size: 0;
}
.totalProductsMessage::before {
  content: 'resultados encontrados';
  font-size: 14px;
  line-height: 19px;
}

.filter__container--title {
  display: none;
}

.orderByButton {
  min-width: 259px;
  width: 100%;
  font-size: 14px;
  line-height: 19px;
  align-items: end;
  border: 0;
  padding-bottom: 6px;
  border-bottom: 1px solid #a8a8a8;
}
.filterPopupTitle {
  text-transform: initial;
  color: #696969;
  width: 100%;
  text-align: left;
}
.orderByText {
  padding-right: 16px;
  color: #212121;
  margin: 0;
  position: relative;
  z-index: 0;
}
.orderByText::before {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: -7px;
  height: 1px;
  width: 100%;
  background: #fff;
}
.filterPopupArrowIcon {
  padding: 0;
  line-height: 0;
}

.gallery--grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 24px;
  padding: 0;
  margin: 0;
}
.galleryItem {
  max-width: 100% !important;
  padding: 0;
}

.showingProducts {
  padding: 0;
  color: #212121;
  line-height: 20px;
}

.progressBar {
  margin: 8px auto 16px;
  height: 2px;
  background: #d9d9d9;
}
.progressBarFiller {
  height: 2px;
  background: #ed1a3b;
  border-radius: 0;
}

.buttonShowMore :global(.vtex-button) {
  background: #fff;
  color: #212121;
  padding: 7px 24px;
  border: 1px solid #ed1a3b;
  border-radius: 8px;
  text-transform: initial;
  transition: all 0.3s ease-in-out;
}
.buttonShowMore :global(.vtex-button):hover {
  background: #ed1a3b;
  color: #fff;
}
.buttonShowMore :global(.vtex-button__label) {
  font-size: 0;
  padding: 0;
}
.buttonShowMore :global(.vtex-button__label)::before {
  content: 'Ver mais produtos';
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
}

.filterBreadcrumbsText,
.filterBreadcrumbsItemName {
  font-size: 16px;
  font-weight: 700;
}
.filterBreadcrumbsItem .caretIcon {
  padding-left: 8px;
}

@media (max-width: 1025px) {
  .orderByButton .caretIcon,
  .filterPopupButton .filterIcon {
    display: none;
  }
  .orderByButton .filterPopupArrowIcon::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='10' viewBox='0 0 18 10' fill='none'%3E%3Cpath d='M9.49065 9.72846L17.0655 2.15349C17.2408 1.97829 17.3374 1.74442 17.3374 1.49504C17.3374 1.24567 17.2408 1.01179 17.0655 0.83659L16.5078 0.278747C16.1444 -0.0842458 15.5537 -0.0842458 15.1909 0.278747L8.82998 6.63963L2.46204 0.271688C2.2867 0.0964887 2.05297 -0.000244809 1.80373 -0.00024482C1.55421 -0.000244831 1.32048 0.0964886 1.145 0.271688L0.587433 0.829532C0.412096 1.00487 0.3155 1.23861 0.3155 1.48798C0.3155 1.73736 0.412096 1.97124 0.587433 2.14644L8.16918 9.72846C8.34507 9.90407 8.57991 10.0005 8.82956 9.99997C9.08019 10.0005 9.31489 9.90407 9.49065 9.72846Z' fill='%234F4F4F'/%3E%3C/svg%3E");
    line-height: 0;
  }
  .filterPopupButton .filterPopupArrowIcon::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='22' viewBox='0 0 21 22' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.24397 21.6604C4.80486 21.6604 4.44897 21.3045 4.44897 20.8654L4.44897 17.878C2.38864 17.5036 0.826362 15.7001 0.826362 13.5317C0.826362 11.3634 2.38864 9.55992 4.44896 9.18547L4.44896 1.13488C4.44896 0.695824 4.80486 0.339875 5.24396 0.339875C5.68301 0.339875 6.03896 0.695824 6.03896 1.13488L6.03896 9.18547C8.09934 9.55987 9.66162 11.3633 9.66162 13.5317C9.66162 15.7001 8.09934 17.5036 6.03897 17.878L6.03897 20.8654C6.03897 21.3045 5.68302 21.6604 5.24397 21.6604ZM2.41636 13.5317C2.41636 11.9701 3.68237 10.7041 5.24402 10.7041C6.80566 10.7041 8.07162 11.9701 8.07162 13.5317C8.07162 15.0934 6.80566 16.3593 5.24402 16.3593C3.68237 16.3593 2.41636 15.0934 2.41636 13.5317Z' fill='%234F4F4F'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.0792 0.339843C15.6401 0.339843 15.2842 0.695791 15.2842 1.13484L15.2842 4.12224C13.2238 4.49669 11.6616 6.30017 11.6616 8.46851C11.6616 10.6368 13.2238 12.4403 15.2842 12.8148L15.2842 20.8654C15.2842 21.3044 15.6401 21.6604 16.0792 21.6604C16.5182 21.6604 16.8742 21.3044 16.8742 20.8654L16.8742 12.8148C18.9345 12.4404 20.4968 10.6369 20.4968 8.46851C20.4968 6.30012 18.9345 4.49663 16.8742 4.12224L16.8742 1.13484C16.8742 0.695791 16.5182 0.339843 16.0792 0.339843ZM13.2516 8.46851C13.2516 10.0301 14.5176 11.2961 16.0792 11.2961C17.6409 11.2961 18.9068 10.0302 18.9068 8.46851C18.9068 6.90686 17.6409 5.6409 16.0792 5.6409C14.5176 5.6409 13.2516 6.90686 13.2516 8.46851Z' fill='%234F4F4F'/%3E%3C/svg%3E");
    line-height: 0;
  }
  .filterAccordionItemBox {
    padding-right: 0;
    min-height: initial;
  }
  .filterAccordionItemBox:not(:first-child) {
    padding-top: 15px;
  }
  .filterAccordionItemBox :global(.vtex-checkbox__label),
  .accordionFilterItemTitle {
    font-size: 14px;
  }
  .container--layout--search-result-layout {
    margin-bottom: 80px;
  }
  .accordionFilterContainer {
    padding-left: 16px;
  }
  .accordionFilterContent {
    padding: 0;
  }

  .totalProducts--layout {
    margin-bottom: 32px;
  }
  .orderByButton {
    padding: 10px 0 10px 22px;
    border: 0;
    min-width: initial;
    align-items: center;
  }
  .filterPopupButton {
    width: 100%;
    height: initial;
    padding: 10px 22px 10px 10px;
  }
  .filterPopupButton .filterPopupTitle {
    font-weight: 700;
    color: #1a1a1a;
  }
  .orderByText {
    display: none;
  }
  .filterPopupTitle {
    font-size: 16px;
    line-height: 21px;
  }
  .filterIcon {
    padding: 0 0 0 32px;
  }
  .galleryTitle--layout {
    font-size: 20px;
    line-height: 27px;
  }
}

@media screen and (max-width: 767px) {
  .gallery--grid {
    column-gap: 16px;
    row-gap: 40px;
  }
}

@media screen and (max-width: 639px) {
  .gallery--grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 375px) {
  .gallery--grid {
    grid-template-columns: 1fr;
  }
}
