.overlay--visible {
  background-color: #212121;
}
.closeIconButton {
  padding: 0;
  margin: 41px 0 0 32px;
}
.openIconContainer,
.openIconContainer :global(.vtex-button__label) {
  padding: 0;
}
.openIconContainer :global(.vtex-button__label) {
  justify-content: initial;
}
.openIconContainer :global(.vtex-button) {
  border: 0;
  min-height: initial;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 7.5px 10px;
  transition: all 0.3s;
}
.openIconContainer :global(.vtex-button)::after {
  content: 'Carrinho';
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
  color: #fff;
  display: none;
}
.openIconContainer :global(.vtex-button):hover,
.openIconContainer :global(.vtex-button):focus {
  background: transparent;
}

.minicartIconContainer {
  color: #fff;
}

.closeIcon {
  color: #212121;
}

.minicartQuantityBadge {
  background: url(assets/icons/fundo-minicart.svg) no-repeat;
  font-weight: 700;
  top: -10px;
  right: -9px;
  color: #101010;
  background-size: 100%;
  background-position: center;
}

.drawerContent {
  position: relative;
  z-index: 0;
}
.closeIconContainer {
  position: absolute;
}
.minicartSideBarContentWrapper {
  height: 100% !important;
  background: #fff;
}
.minicartTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  padding: 41px 0 22px;
  margin: 0 32px;
  border-bottom: 1px solid #d9d9d9;
}
.minicartTitle::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cmask id='mask0_6075_513' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_6075_513)'%3E%3Cpath d='M7.15375 21.5578C6.66792 21.5578 6.25483 21.3875 5.9145 21.047C5.57417 20.7067 5.404 20.2936 5.404 19.8078C5.404 19.3218 5.57417 18.9086 5.9145 18.5683C6.25483 18.2279 6.66792 18.0577 7.15375 18.0577C7.63975 18.0577 8.05292 18.2279 8.39325 18.5683C8.73358 18.9086 8.90375 19.3218 8.90375 19.8078C8.90375 20.2936 8.73358 20.7067 8.39325 21.047C8.05292 21.3875 7.63975 21.5578 7.15375 21.5578ZM16.8463 21.5578C16.3603 21.5578 15.9471 21.3875 15.6068 21.047C15.2664 20.7067 15.0963 20.2936 15.0963 19.8078C15.0963 19.3218 15.2664 18.9086 15.6068 18.5683C15.9471 18.2279 16.3603 18.0577 16.8463 18.0577C17.3321 18.0577 17.7452 18.2279 18.0855 18.5683C18.4258 18.9086 18.596 19.3218 18.596 19.8078C18.596 20.2936 18.4258 20.7067 18.0855 21.047C17.7452 21.3875 17.3321 21.5578 16.8463 21.5578ZM6.01525 5.75L8.55 11.0577H15.3673C15.4249 11.0577 15.4763 11.0433 15.5213 11.0145C15.5661 10.9857 15.6045 10.9456 15.6365 10.8943L18.3193 6.01925C18.3578 5.94875 18.3609 5.88625 18.3288 5.83175C18.2968 5.77725 18.2423 5.75 18.1653 5.75H6.01525ZM5.29625 4.25H19.1808C19.5898 4.25 19.899 4.42408 20.1085 4.77225C20.3182 5.12025 20.3282 5.47567 20.1385 5.8385L16.9345 11.6423C16.7705 11.9307 16.5536 12.1554 16.2838 12.3162C16.0138 12.4773 15.7179 12.5577 15.3963 12.5577H8.1L6.94225 14.673C6.89092 14.75 6.88933 14.8333 6.9375 14.923C6.9855 15.0128 7.05758 15.0577 7.15375 15.0577H18.596V16.5577H7.15375C6.48708 16.5577 5.98617 16.2703 5.651 15.6953C5.31567 15.1203 5.30383 14.5462 5.6155 13.973L7.04225 11.4078L3.404 3.75H1.5V2.25H4.34625L5.29625 4.25Z' fill='%23EA5A1C'/%3E%3C/g%3E%3C/svg%3E");
  line-height: 0;
}
.minicartProductListContainer {
  padding: 32px 32px 24px;
  height: calc(100vh - 91px - 251px);
  height: calc(100dvh - 91px - 251px);
}

.minicartEmptyStateContainer {
  margin-top: 32px;
}

.minicartSummary {
  padding: 0;
}

.minicartCheckoutButton {
  margin: 0;
  padding: 0;
}
.minicartCheckoutButton :global(.vtex-button) {
  background: #EA5A1C;
  border: 0;
  padding: 12px 16px;
  min-height: initial;
  transition: all 0.3s ease-in-out;
  border-radius: 0;
}
.minicartCheckoutButton :global(.vtex-button):hover {
  background: #dc5115;
}
.minicartCheckoutButton :global(.vtex-button__label) {
  font-size: 0;
  padding: 0;
}
.minicartCheckoutButton :global(.vtex-button__label)::before {
  content: 'Finalizar Compra';
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-transform: initial;
  color: #101010;
}

@media (min-width: 1100px) {
  .openIconContainer :global(.vtex-button) {
    color: #f4f4f426;
  }
  .openIconContainer :global(.vtex-button):hover {
    border: 1px solid #f4f4f426;
    border-radius: 0;
  }
}

@media (max-width: 1025px) {
  .openIconContainer :global(.vtex-button) {
    padding: 0;
  }
  .openIconContainer :global(.vtex-button)::after {
    display: none;
  }
}

@media screen and (max-width: 639px) {
  .closeIconButton {
    margin: 8px 0 0 8px;
  }
  .minicartTitle {
    padding: 30px 0;
    margin: 0 15px;
  }
  .minicartProductListContainer {
    padding: 24px 15px;
    height: calc(100vh - 76px - 203px);
    height: calc(100dvh - 76px - 203px);
  }

  .minicartCheckoutButton :global(.vtex-button) {
    padding: 8px 16px;
  }
}

@media (max-width: 420px) {
  .minicartProductListContainer {
    height: calc(100vh - 76px - 222px);
    height: calc(100dvh - 76px - 222px);
  }
}
