.container {
  background: transparent;
}

.section--department {
  padding: 0;
}
.departmentList {
  height: initial;
}
.departmentLink {
  padding: 10px 0;
  color: #fff;
  font-size: 14px;
  line-height: 21px;
  padding-bottom: 0;
  margin: 0;
  font-weight: 400;
}
.departmentLink,
.departmentLink:active,
.departmentLink:focus,
.departmentLink:hover,
.departmentLink:visited,
.firstLevelLink:active,
.firstLevelLink:focus,
.firstLevelLink:hover,
.firstLevelLink:visited,
.secondLevelLink:active,
.secondLevelLink:focus,
.secondLevelLink:hover,
.secondLevelLink:visited {
  outline: none;
  border: 0;
  text-decoration: none;
}
.firstLevelLink {
  color: #202020;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.secondLevelLink {
  padding: 12px;
  font-weight: 300;
}

.itemContainer--category {
  border: 0;
  box-shadow: 3px 3px 6px #00000014;
}

/* ITEM TODAS CATEGORIAS */
.itemContainer--department:first-child {
  display: flex;
  align-items: center;
  gap: 10px;
}
.itemContainer--department:last-child .departmentLink {
  color: #EA5A1C;
  font-weight: 700;
}
.itemContainer--department:not(:first-child) {
  margin-left: 36px;
}

.sidebarScrim {
  background: #212121;
}
