/* Classe criada para container Generico */
.flexRowContent--custom-container {
  position: relative;
  z-index: 0;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.flexRowContent--flex-column {
  flex-direction: column;
}

/* HEADER */
.flexRow--header-container {
  padding: 23px 0;
}
.flexRowContent--header-container {
  align-items: center;
}
.flexRowContent--header-container .stretchChildrenWidth {
  width: initial !important;
}

.flexRowContent--header-container .flexRowContent--sac-group-topo .stretchChildrenWidth {
  width: 100% !important;
}

.flexCol--utils-desktop-container {
  flex-direction: row;
  align-items: center;
}
.flexColChild--utils-desktop-container:not(:first-child) {
  margin-left: 6px;
}

/* BOX LOGIN */
.flexCol--login-control {
  justify-content: center;
}

/* CARRINHO */
.flexRowContent--minicart-desktop-container,
.flexRowContent--minicart {
  display: flex;
  align-items: center;
}
.flexRowContent--minicart--row-top {
  display: flex;
  gap: 10px;
}
.flexRowContent--qty-price__container {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}
.flexRow--minicart {
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #eeeeee;
}
.flexRow--minicart-footer {
  background: #eeeeee;
  box-shadow: unset;
  padding: 32px;
}

/* MENU */

.flexRowContent--menu-container .stretchChildrenWidth {
  border-top: 1px solid #fff;
}

/* LOGO */
.flexColChild--logo-desktop-container {
  line-height: 0;
}

/* SLIDER DE CATEGORIAS */
.flexRow--categories-slider-container {
  margin: 56px 0;
}
.flexRow--categories-slider-container.flexRow--marcas {
  margin-top: 0
}
.flexRowContent--categories-slider-container {
  flex-direction: column;
}
.flexColChild--categories {
  margin: 0 -14px;
}

/* SEÇÃO MOSAICO TOPO */
.flexRow--upper-mosaic-container {
  margin: 55px 0;
}
.flexColChild--upper-mosaic-content {
  line-height: 0;
}

/* VITRINE DE PRODUTOS COM BANNER */
.flexRow--shelf-container {
  margin-bottom: 42px;
}
.flexColChild--shelf-carousel,
.flexColChild--partners,
.flexColChild--related-content {
  margin: 0 -15px;
}
.flexRow--list-selling-price-summary-container {
  line-height: 0;
}
.flexRowContent--banner-shelf {
  display: flex;
  gap: 40px;
}
.flexColChild--banner-shelf {
  /* width: 245px; */
  width: 100%;
  line-height: 0;
  margin-top: 6px;
}

/*CUSTOMIZAÇÃO TOPLINE*/
.flexRow--wrapper-topbar {
  background: #EA5A1C;
} 
/*FIM CUSTOMIZAÇÃO TOPLINE*/

/*CUSTOMIZAÇÃO FRETE GRATIS VITRINE*/
.flexRow--wrapper-fretegratis {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  background: #20982C;
  padding: 4px 8px;
}
.flexCol--controle-fretevtitrine {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.flexColChild--controle-fretevtitrine {
  height: auto !important;
}
/*FIM CUSTOMIZAÇÃO FRETE GRATIS VITRINE*/

/* CARD PRODUTO */
.flexRow--summary-tags {
  position: relative;
  top: 0;
  left: 7px;
  width: 76px;
  height: 20px;
}
.flexRowContent--summary-tags {
  display: flex;
  flex-direction: column;
}
.flexCol--list-selling-price-summary {
  flex-direction: row;
  align-items: center;
}
.flexColChild--list-selling-price-summary {
  height: initial !important;
}
.flexRow--spot-price-summary-container {
  margin-bottom: 4px;
}

.flexRow--summary-action-container {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
:global(.vtex-product-summary-2-x-element):hover
  .flexRow--summary-action-container {
  opacity: 1;
}
.flexColChild--summary-action-content:first-child {
  width: 100%;
}
.flexCol--summary-action-content {
  display: flex;
}
.flexColChild--summary-action-content :global(.vtex-button) {
  border: 0;
  border-radius: 0;
}
.flexColChild--summary-action-content :global(.vtex-button):hover {
  background: #EA5A1C;
}
.flexColChild--summary-action-content :global(.vtex-button__label) {
  padding: 7px 32px !important;
}
.flexCol--pdp-descontos {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* SEÇÃO PARCEIROS */
.flexRow--partners-slider-container {
  margin-bottom: 52px;
}

/* SEÇÃO MOSAICO RODAPÉ */
.flexRow--bottom-mosaic-container {
  margin-bottom: 80px;
}
.flexCol--bottom-mosaic-left-content {
  line-height: 0;
}
.flexRowContent--bottom-mosaic-container {
  display: flex;
  gap: 24px;
}

.flexColChild--instagram-content {
  margin-bottom: 80px;
}

.flexRow--mosaico-meio {
  margin-bottom: 3rem;
}

.flexRowContent--cms-page-container :global(.vtex-rich-text-0-x-wrapper--sac-group-btn) {
  display: none;
}

.flexRowContent--controle-share {
  align-items: center;
}

/* NEWSLETTER */
.flexRow--newsletter-container {
  background: #474747;
  padding: 24px 0;
  position: relative;
  z-index: 0;
}
.flexRowContent--newsletter-container {
  position: relative;
  z-index: 0;
  align-items: center;
}

.flexCol--newsletter-cta-content,
.flexCol--newsletter-form-content {
  display: flex;
  justify-content: center;
}
.flexCol--newsletter-cta-content {
  max-width: 471px;
  width: 100%;
  margin-left: auto;
}
.flexCol--newsletter-form-content {
  max-width: 376px;
  width: 100%;
}

/* FOOTER CONTEÚDO */
.flexRowContent--footer-container {
  background: url(assets/icons/fundo-footer.png) no-repeat;
  background-size: cover;
  padding: 48px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: block;
  position: relative;
}

.flexRowContent--footer-container::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background: url(assets/icons/detalhe-footer.svg) no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 189px;
  height: 212px;
}

.flexRowContent--footer-container .stretchChildrenWidth:first-child {
  max-width: 840px;
  width: 100%;
}

.flexRowContent--social-networks-container {
  display: flex;
  align-items: center;
  justify-content: initial;
  gap: 8px;
}
.flexCol--social-content {
  position: relative;
  z-index: 0;
}
.flexColChild--social-content:last-child {
  width: 36px;
  height: 36px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 0;
}
.flexCol--social-content:hover .flexColChild--social-content:last-child::after {
  height: 36px;
}
.flexCol--social-content:hover :global(.vtex-store-icons-0-x-socialIcon) {
  color: #212121;
}

.flexRowContent--first-line-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 100px;
  margin-top: 3rem;
}

.flexColChild--footer-category-menu-content
  :global(.vtex-category-menu-2-x-section--department) {
  width: 100%;
  display: block;
}
.flexColChild--footer-category-menu-content
  :global(.vtex-category-menu-2-x-departmentList) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  overflow: hidden;
}

.flexColChild--footer-category-menu-content
  :global(.vtex-category-menu-2-x-itemContainer--department)::before,
.flexColChild--footer-category-menu-content
  :global(.vtex-category-menu-2-x-itemContainer--department)::after,
.flexColChild--footer-category-menu-content
  :global(.vtex-category-menu-2-x-departmentLink)::before,
.flexColChild--footer-category-menu-content
  :global(.vtex-category-menu-2-x-itemContainer--category) {
  display: none !important;
}
.flexColChild--footer-category-menu-content
  :global(.vtex-category-menu-2-x-itemContainer--department):not(:first-child) {
  margin-top: 8px;
  margin-left: 0;
}
.flexColChild--footer-category-menu-content
  :global(.vtex-category-menu-2-x-departmentLink):first-child,
.flexColChild--footer-category-menu-content
  :global(.vtex-category-menu-2-x-departmentLink) {
  padding: 0 0 2px;
  color: #fff;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
  font-weight: 400;
  line-height: 20px;
  border-bottom: 1px solid transparent;
}
.flexColChild--footer-category-menu-content
  :global(.vtex-category-menu-2-x-departmentLink):hover {
  border-color: #fff;
}

.flexColChild--cms-menu-wrapper-content:not(:first-child) {
  margin-top: 8px;
}

.flexColChild--sac-content:nth-child(1n + 3) {
  margin-top: 10px;
}

.flexRowContent--security-content-container {
  display: flex;
  gap: 10px;
  line-height: 0;
  max-width: fit-content;
}
.flexCol--second-security-content {
  display: flex;
  gap: 10px;
}
.flexCol--shipping-content {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.flexRowContent--primeira-linha {
  align-items: center;
}

/* SEÇÃO MÉTODO DE PAGAMENTO, SEGURANÇA, ENTREGA */
.flexRowContent--services-flags-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  padding-bottom: 12px;
}
.flexCol--payments-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  line-height: 0;
}
.flexCol--companies-content,
.flexCol--security-flags-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  line-height: 0;
}

/* COPY RODAPÉ */
.flexRowContent--footer-copy-container .stretchChildrenWidth {
  padding: 16px 0;
  border-top: 1px solid #ececec;
}
.flexCol--copy-design-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}
.flexColChild--copy-design-content {
  height: initial !important;
  line-height: 0;
}
.flexRowContent--copy-design-container {
  display: flex;
  gap: 40px;
}
.flexRowContent--copy-design-container .stretchChildrenWidth {
  padding: 0;
  border: 0;
}
.flexCol--copy-platform-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.flexRowContent--custom-copy {
  background: #fff;
}
.flexCol--sac-content {
  position: relative;
}
.flexCol--sac-content::before {
  content: '';
  position: absolute;
  width: 351px;
  height: 253px;
  background: #D9D9D91C;
  top: -20px;
  left: -43px;
  z-index: -1;
}
.flexRow--sac-group-topo, .flexRow--sac-topoheader {
  background-color: #fff;
}
.flexRow--sac-group-topo {
  border-bottom:1px solid #263572;
  padding: 10px 0;
}
.flexRow--sac-group-topo:first-child {
  padding-top: 0;
}
.flexRow--sac-group-topo:last-child {
  border: 0;
  padding-bottom: 0;
}

/* CATÁLOGO */
.flexRow--result-grid-container {
  margin-bottom: 20px;
}
.flexRowContent--result-grid-container {
  gap: 30px;
}
.flexCol--result-filter-content {
  min-width: 255px;
}

.flexRow--search-toolbar-container {
  padding-bottom: 16px;
}
.flexRowContent--search-toolbar-container {
  justify-content: space-between;
  z-index: 1;
  align-items: center;
  padding: 0;
}

.flexRow--search-products-container {
  margin-bottom: 40px;
}

.flexRow--search-fetchmore-container {
  margin-bottom: 32px;
}

.flexColChild--category-banner:last-child, .flexColChild--banner-shelf:last-child {
  display: none;
}

.flexColChild--category-banner {
  margin-bottom: 2rem;
}

.flexRowContent--container-preco {
  margin-bottom: 8px;
  height: 80px;
  overflow: hidden;
  align-items: center;
}

/* PÁGINA DO PRODUTO */
.flexRowContent--product-main-container {
  display: flex;
  justify-content: space-between;
}

.flexRowContent--product-tags-pdp {
  justify-content: initial;
}

.flexRow--name-wish-container {
  margin-bottom: 6px;
}
.flexRowContent--name-wish-container {
  align-items: center;
  width: 97%;
}
.flexCol--wish-pdp-content {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.flexCol--sku-content {
  display: flex;
  flex-direction: row;
  gap: 8px;
  line-height: 17px;
}

.flexCol--prices-pdp-content {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.flexRowContent--prices-pdp-container .flexCol--prices-pdp-content {
  margin-bottom: 10px;
}

.flexRowContent--prices-pdp-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.flexCol--shipping-content-pdp {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.flexRow--actions-pdp-container {
  padding-bottom: 10px;
  width: 100%;
  margin: 24px 0;
  margin-bottom: 10px;
}
.flexRowContent--actions-pdp-container {
  display: block;
}

.flexCol--qty-pdp-content {
  min-width: 80px;
}
.flexRowContent--actions-pdp-container :global(.vtex-button) {
  border-radius: 0px;
  background: #EA5A1C;
  border: 0;
  font-size: 20px;
  font-weight: 700;
  text-transform: initial;
  min-height: initial;
  transition: all 0.3s ease-in-out;
}
.flexRowContent--actions-pdp-container :global(.vtex-button):hover {
  background: #ec5413;
}
.flexRowContent--actions-pdp-container :global(.vtex-button__label) {
  padding: 16px 10px !important;
  line-height: 22px;
  color: #101010;
}

.flexRow--info-tabs-container {
  margin-bottom: 48px;
}

.flexRow--related-products-container {
  margin-bottom: 10px;
}

.flexRowContent--shipping-container {
  background: #F9F9F9;
  padding: 1rem 2rem;
  border-radius: 8px;
}

/* PÁGINAS INSTITUCIONAIS */
.flexRow--cms-page-container {
  margin: 40px 0 80px;
}
.flexColChild--side-cms-menu {
  width: 215px !important;
  border-right: 1px solid #efefef;
}
.flexRowContent--cms-page-container {
  justify-content: initial;
}
.flexCol--content-cms {
  margin-left: 69px;
}
.flexRowContent--faqs .stretchChildrenWidth {
  display: block;
}
.flexRowContent--faqs .stretchChildrenWidth:not(:first-child) {
  margin-top: 24px;
  padding-top: 24px;
  border-top: 1px solid #d9d9d9;
}
.flexCol--assist-contatos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 16px;
}

.flexCol--drawer-mobile-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.flexColChild--drawer-mobile-content {
  line-height: 0;
}

.flexRow--page-wishlist {
  padding: 64px 0;
}

.flexRowContent--linha-breadcms {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
}

.flexRow--montadora {
  margin: 0px 0;
}

/*Customização Contador PDP*/
.flexRow--contador-secao {
  margin-top: 32px;
}
.flexRowContent--contador-secao {
  display: flex;
  flex-direction: column;
}
.flexRowContent--linha-mes-contador {
  background: #fff;
  position: relative;
  align-items: center;
  text-align: end;
  padding-right: 16px;
  height: 70px;
}
.flexRowContent--linha-mes-contador::before {
  content: '';
  background: url(assets/icons/detalhe-contador.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
}
.flexRowContent--linhaeconomize {
  background: #182660;
  height: 53px;
}
.flexRowContent--contador-secao .stretchChildrenWidth {
  width: 100% !important;
}
.flexCol--area-economize {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding-left: 16px;
}
.flexColChild--area-economize {
  height: auto !important;
}
/*Fim customização Contador PDP*/

/*contador vitrine*/
.flexRowContent--summary-action-container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.flexRowContent--summary-action-container .stretchChildrenWidth {
  width: 100% !important;
}
/*fim contador vitrine*/

/*inserção plataforma e desenvolvimento*/
.flexRowContent--companies-content-container {
  gap: 20px;
}
.flexCol--companies-content {
  display: block;
}
.flexColChild--companies-content {
  text-align: center;
}
/*fim inserção plataforma e desenvolvimento*/

@media (min-width: 1100px) {
  .flexRow--cms-page-container {
    margin: 10px 0 80px;
  }
  .flexRowContent--header-desktoptopo {
    padding: 0 30px;
    z-index: 1;
  }
  .flexRowContent--controle-share {
    gap: 15px;
  }
}

@media (max-width: 1199px) {
  .flexColChild--summary-action-content :global(.vtex-button__label) {
    padding: 7px 18px !important;
  }

  .flexRowContent--banner-shelf {
    gap: 30px;
  }

  .flexCol--content-cms {
    margin-left: 15px;
  }
}

@media (max-width: 1025px) {
  .flexRow--page-wishlist {
    padding: 30px 0;
  }
  .flexCol--minicart-mobile-content {
    width: 52px; /* largura para manter logo ao centro */
  }
  .flexRowContent--cms-page-container {
    flex-direction: column;
  }
  .flexColChild--side-cms-menu {
    margin: auto;
    text-align: center;
    border: 0;
    width: 100% !important;
  }
  .flexCol--content-cms {
    margin-left: 0;
  }
  .flexRow--cms-page-container {
    margin-top: 10px;
  }
  .flexRow--search-products-container {
    margin-bottom: 50px;
    padding: 0 15px;
  }
  .flexRowContent--search-mobile-container {
    position: inherit;
  }
  .flexRowContent--search-products-container {
    border-top: 1px solid #d9d9d9;
    margin-top: 8px;
    padding-top: 48px;
  }
  .flexRowContent--toolbar-mobile {
    display: flex;
    align-items: center;
    gap: 78px;
    z-index: 1;
  }
  .flexRow--search-title-container,
  .flexRow--search-fetchmore-container,
  .flexRow--result-description-container {
    padding: 0 15px;
  }
  .flexRow--header-container {
    padding: 19px 0;
  }
  .flexRowContent--header-container {
    justify-content: space-between;
  }
  .flexCol--logo-mobile-content {
    line-height: 0;
  }
  .flexRowContent--row-login-container {
    width: 100%;
    gap: 0;
  }
  .container--sticky-header {
    background-position: center;
  }
  .flexColChild--login-icon {
    line-height: 0;
  }
  .flexRow--search-mobile-container {
    padding: 20px 0;
    padding-top: 0px;
  }
  .flexRow--categories-slider-container {
    margin: 48px 0 32px;
  }
  .flexRow--montadora, .flexRow--marcas {
    margin-top: 0;
  }
  .flexRow--shelf-container,
  .flexRow--upper-mosaic-container {
    margin-bottom: 32px;
  }
  .flexRowContent--bottom-mosaic-container {
    gap: 16px;
  }
  .flexRow--footer-container {
    padding: 26px 0 0px;
  }
  .flexRowContent--footer-container {
    padding-top: 9rem;
    padding-bottom: 9rem;
    width: 90%;
  }
  .flexColChild--content-left-content {
    line-height: 0;
    text-align: center;
  }
  .flexRowContent--newsletter-container,
  .flexRowContent--footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .flexRowContent--newsletter-container {
    gap: 15px;
  }
  .flexCol--newsletter-cta-content {
    margin: 0;
  }
  .flexRowContent--first-line-container {
    gap: 30px;
  }
  .flexRowContent--services-flags-container {
    justify-content: center;
    gap: 30px;
  }
  .flexRowContent--result-grid-container {
    flex-direction: column;
  }
  .flexColChild--result-filter-content {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #e9e9e9;
    z-index: 100;
  }
  .flexRow--services-flags-container {
    padding: 0px 0;
  }
  .flexRowContent--services-flags-container {
    flex-direction: column;
    gap: 16px;
    width: 90%;
  }
  .flexRowContent--footer-container::before {
    width: 131px;
    height: 132px;
  }
  .flexColChild--category-banner:first-child {
    display: none;
  }
  .flexRow--montadora {
    margin-bottom: 0;
  }

  .flexRowContent--container-preco {
    height: 100px;
    display: grid;
  }

  /*contador mobile pdp*/
  .flexRowContent--linha-mes-contador, .flexRowContent--linhaeconomize {
    height: auto;
  }
  .flexRowContent--linha-mes-contador, .flexRowContent--linhaeconomize {
    display: flex;
  }
  /*fim contador mobile pdp*/
}

@media (max-width: 991px) {
  .flexRowContent--product-tags-pdp {
    display: flex;
  }

  .flexRow--upper-mosaic-container {
    margin-top: 35px;
  }

  .flexRow--actions-pdp-container {
    max-width: 100%;
  }
  .flexColChild--wish-image-content:first-child {
    opacity: 1;
    visibility: visible;
  }
  .flexColChild--summary-action-content:last-child {
    width: 100%;
  }
  .flexColChild--summary-action-content :global(.vtex-button) {
    height: 100%;
  }
  .flexColChild--summary-action-content :global(.vtex-button__label) {
    padding: 5px !important;
  }

  .flexRow--summary-action-container {
    position: initial;
    opacity: 1;
  }

  .flexRowContent--newsletter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .flexRowContent--product-main-container {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .flexCol--side-cms-menu {
    display: none;
  }
  .flexRowContent--controle-share {
    display: flex;
    gap: 16px;
  }
  .flexRowContent--social-networks-container.flexRowContent--social-mobi {
    margin-left: 13px;
    justify-content: left;
  }
  .flexRowContent--social-networks-container {
    justify-content: center;
    margin-top: 1rem;
  }
  .flexRowContent--companies-content-container {
    display: flex;
  }
  .flexCol--companies-content {
    display: flex;
    align-items: center;
  }
  .flexColChild--category-banner:last-child {
    display: block;
    text-align: center;
  }
  .flexRowContent--wrapper-fretegratis {
    padding: 0 10px;
  }
}

@media (max-width: 767px) {
  .flexColChild--banner-shelf:first-child {
    display: none;
  }
  .flexColChild--banner-shelf:last-child {
    display: inline-block;
  }
  .flexRowContent--banner-shelf {
    gap: 15px;
  }
  .flexRowContent--banner-shelf .stretchChildrenWidth {
    min-width: 186px;
  }
  .flexRow--conditions-container {
    padding: 30px 0;
  }
  .flexColChild--shelf-carousel,
  .flexColChild--partners,
  .flexColChild--related-content,
  .flexColChild--categories {
    margin: 0 -7.5px;
  }
  .flexRow--list-selling-price-summary-container {
    margin-bottom: 0px;
  }

  .flexCol--bottom-mosaic-left-content,
  .flexCol--bottom-mosaic-right-content {
    text-align: center;
  }

  .flexRowContent--footer-copy-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
  .flexRowContent--footer-copy-container .stretchChildrenWidth {
    width: 100% !important;
  }
  .flexCol--copy-design-content {
    justify-content: center;
  }

  .flexRow--name-wish-container .stretchChildrenWidth,
  .flexRow--actions-pdp-container .stretchChildrenWidth {
    width: auto !important;
  }

  .flexRowContent--services-flags-container {
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
  }
  .flexCol--sac-content::before {
    width: 321px;
    height: 240px;
    top: -20px;
    left: -64px;
  }
  .flexRow--related-products-container {
    margin-bottom: 0;
  }
}

@media (max-width: 639px) {
  .flexColChild--footer-category-menu-content
    :global(.vtex-category-menu-2-x-container) {
    display: flex;
  }

  .flexRow--search-toolbar-container {
    padding: 15px 0;
  }
  .flexRowContent--search-toolbar-container {
    display: flex;
    align-items: center;
  }

  .flexRow--name-wish-container .flexRowContent--name-wish-container {
    display: flex;
  }

  .flexRowContent--copy-design-container {
    gap: 30px;
  }

  .flexRow--minicart-footer {
    padding: 21px 15px;
  }
}

@media (max-width: 575px) {
  .flexColChild--upper-mosaic-content:first-child {
    display: none;
  }
  .flexColChild--upper-mosaic-content:last-child {
    display: inline-block;
    margin-bottom: 1rem;
  }
  .flexRowContent--newsletter-container .stretchChildrenWidth {
    width: 100% !important;
  }

  .flexColChild--footer-category-menu-content
    :global(.vtex-category-menu-2-x-departmentList) {
    align-items: center;
    max-width: initial;
  }

  .flexColChild--payments-content {
    text-align: center;
  }

  .flexRowContent--security-content-container {
    margin: 0 auto;
  }

  .flexRowContent--tecfast-container {
    max-width: 302px;
    margin: 0 auto;
  }
  .flexRowContent--first-line-container {
    flex-direction: column;
    gap: 68px;
  }
}

@media screen and (max-width: 475px) {
  .flexRowContent--banner-shelf .stretchChildrenWidth:last-child {
    max-width: 186px;
    min-width: initial;
    width: 100% !important;
  }

  .flexColChild--shelf-triple
    :global(.vtex-slider-layout-0-x-sliderLayoutContainer--shelf-carousel) {
    padding: 0;
  }
}

@media screen and (max-width: 410px) {
  .flexRowContent--banner-shelf .stretchChildrenWidth:first-child {
    max-width: 186px;
    min-width: initial;
    width: 100% !important;
  }
}

@media screen and (max-width: 375px) {
  .flexRowContent--toolbar-mobile {
    gap: 30px;
  }
}
