/* MINICART */
.paragraph--utils-text {
  margin: 0;
  font-size: 13px;
  line-height: 13px;
  font-weight: 400;
  color: #fff;
}
.container--minicart-text {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 0;
  z-index: -2;
}

/*  */

/* TITULOS DAS VITRINES */
.container--shelf-title {
  display: block;
}
.heading--shelf-title {
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  margin: 0 0 50px;
  position: relative;
}

/* NEWSLETTER */
.paragraph--newsletter-cta {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  margin: 0 0 6px;
  color: #ffffff;
}
.paragraph--newsletter-desc {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  color: #b1b3b6;
}

/* FOOTER CONTEÚDO */
.paragraph--brand-resume {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 24px 0;
  color: #fff;
  font-size: 14px;
  line-height: 19px;
}

.heading--footer-title {
  margin: 0 0 16px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  border-bottom: 1px solid #EA5A1C;
}

.paragraph--cms-link,
.paragraph--sac-group-link {
  margin: 0;
  color: #979797;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}
.paragraph--cms-link:hover,
.paragraph--sac-group-link:hover {
  color: #000000;
}
.link--cms-link,
.link--sac-group-link {
  padding: 0 0 2px;
  color: #fff;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}

.link--sac-group-topo {
  color: #101010;
}
.link--cms-link:hover,
.link--sac-group-link,
.link--sac-group-link:hover {
  border-color: #fff;
}

.link--sac-group-link:hover{
  padding: 0 0 2px;
  transition: all 0.3s ease-in-out;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}

.paragraph--sac-group-title {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 0 0 4px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  line-height: 19px;
}
.link--sac-group-email::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='13' viewBox='0 0 17 13' fill='none'%3E%3Cpath d='M1.61488 12.4414C1.23762 12.4414 0.917216 12.3097 0.653674 12.0461C0.390133 11.7826 0.258362 11.4622 0.258362 11.0849V1.91463C0.258362 1.53736 0.390133 1.21696 0.653674 0.953418C0.917216 0.689876 1.23762 0.558105 1.61488 0.558105H15.3852C15.7736 0.558105 16.0968 0.689876 16.3548 0.953418C16.6127 1.21696 16.7417 1.53736 16.7417 1.91463V11.0849C16.7417 11.4622 16.6127 11.7826 16.3548 12.0461C16.0968 12.3097 15.7736 12.4414 15.3852 12.4414H1.61488ZM15.975 2.29221L8.88145 6.57524C8.82155 6.61086 8.7611 6.64065 8.70008 6.66461C8.63891 6.68856 8.57222 6.70054 8.50003 6.70054C8.42017 6.70054 8.35748 6.68856 8.31196 6.66461C8.26659 6.64065 8.21077 6.61326 8.14449 6.58243L1.02503 2.29221V11.0849C1.02503 11.2569 1.08029 11.3983 1.19082 11.509C1.30151 11.6195 1.44286 11.6748 1.61488 11.6748H15.3852C15.5572 11.6748 15.6986 11.6195 15.8092 11.509C15.9198 11.3983 15.975 11.2569 15.975 11.0849V2.29221ZM8.50003 5.61331L15.6561 1.32477H1.36787L8.50003 5.61331ZM1.02503 1.98315V2.16188V1.53752V1.55885V1.32477V1.55765V1.50997V2.16379V1.9853V11.6748V1.98315Z' fill='white'/%3E%3C/svg%3E");
  line-height: 0;
  margin-right: 10px;
  top: 3px;
  position: relative;
}

.link--sac-group-wpp::before, .link--sac-group-btn::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' viewBox='0 0 17 17' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.5849 3.39397C12.24 2.04755 10.4515 1.30572 8.54606 1.30493C4.61979 1.30493 1.42437 4.50026 1.42279 8.42759C1.42226 9.68304 1.75023 10.9086 2.3736 11.9888L1.36304 15.6799L5.13919 14.6894C6.17968 15.2569 7.35107 15.556 8.54317 15.5564H8.54615C12.472 15.5564 15.6678 12.3608 15.6692 8.4333C15.67 6.52991 14.9298 4.74031 13.5849 3.39397ZM8.54606 14.3534H8.54361C7.48127 14.353 6.43938 14.0675 5.53024 13.5282L5.31414 13.3998L3.07331 13.9876L3.67142 11.8029L3.53061 11.5789C2.93793 10.6362 2.62497 9.54669 2.6255 8.42803C2.62673 5.16374 5.28273 2.508 8.54843 2.508C10.1298 2.50852 11.6164 3.12514 12.7341 4.24424C13.8519 5.36334 14.4672 6.85085 14.4666 8.43286C14.4652 11.6974 11.8094 14.3534 8.54606 14.3534ZM11.7936 9.91923C11.6157 9.83008 10.7406 9.39964 10.5774 9.34016C10.4144 9.28076 10.2956 9.25119 10.177 9.4293C10.0583 9.60741 9.71728 10.0084 9.61339 10.1271C9.50951 10.2459 9.40581 10.2608 9.22779 10.1716C9.04977 10.0826 8.47631 9.89457 7.79643 9.28822C7.26737 8.81627 6.91019 8.23343 6.8063 8.05532C6.7026 7.87704 6.80543 7.79 6.88439 7.69208C7.07706 7.45282 7.27 7.20198 7.32931 7.08327C7.38871 6.96447 7.35897 6.8605 7.3144 6.77145C7.27 6.6824 6.91405 5.80633 6.76577 5.44985C6.62118 5.10294 6.47457 5.14979 6.36525 5.14435C6.26154 5.13917 6.14283 5.13812 6.02412 5.13812C5.9055 5.13812 5.71265 5.1826 5.54946 5.36089C5.38635 5.53908 4.9266 5.96961 4.9266 6.84568C4.9266 7.72174 5.56437 8.56806 5.65334 8.68686C5.74231 8.80566 6.90843 10.6034 8.69381 11.3743C9.11846 11.5578 9.44994 11.6672 9.7085 11.7493C10.1349 11.8847 10.5228 11.8656 10.8295 11.8198C11.1715 11.7687 11.8825 11.3892 12.0309 10.9735C12.1792 10.5577 12.1792 10.2014 12.1346 10.1271C12.0902 10.0529 11.9715 10.0084 11.7936 9.91923Z' fill='white'/%3E%3C/svg%3E");
  line-height: 0;
  margin-right: 10px;
  top: 3px;
  position: relative;
}
.link--sac-group-hora::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' viewBox='0 0 17 17' fill='none'%3E%3Cpath d='M8.49997 16.7417C7.37073 16.7417 6.30538 16.5273 5.30393 16.0986C4.30247 15.6699 3.42559 15.0796 2.6733 14.3276C1.92101 13.5757 1.33044 12.6991 0.901582 11.698C0.472728 10.697 0.258301 9.63203 0.258301 8.50311C0.258301 7.35838 0.472728 6.28896 0.901582 5.29485C1.33044 4.3009 1.92101 3.42754 2.6733 2.67477C3.42559 1.922 4.30247 1.33111 5.30393 0.902092C6.30538 0.472918 7.37073 0.258331 8.49997 0.258331C9.63032 0.258331 10.6961 0.466289 11.6974 0.882206C12.6987 1.29812 13.5779 1.89245 14.3348 2.66519C15.1075 3.42211 15.7018 4.30122 16.1178 5.30252C16.5337 6.30382 16.7416 7.36964 16.7416 8.5C16.7416 8.87614 16.7183 9.24446 16.6717 9.60496C16.6249 9.96545 16.561 10.3312 16.48 10.7022C16.4481 10.7944 16.3744 10.8676 16.2589 10.9217C16.1434 10.9757 16.0476 10.9769 15.9714 10.9253C15.8952 10.8737 15.8362 10.8014 15.7943 10.7085C15.7526 10.6155 15.7478 10.5189 15.7797 10.4186C15.873 10.1028 15.9289 9.79007 15.9474 9.48037C15.9658 9.17083 15.975 8.84404 15.975 8.5C15.975 7.46628 15.7803 6.4962 15.3909 5.58978C15.0013 4.6832 14.4631 3.89449 13.7763 3.22365C13.1055 2.53685 12.3168 1.99866 11.4102 1.6091C10.5038 1.2197 9.53369 1.025 8.49997 1.025C6.42358 1.025 4.65865 1.75173 3.20518 3.20521C1.7517 4.65868 1.02497 6.42361 1.02497 8.5C1.02497 10.5764 1.7517 12.3413 3.20518 13.7948C4.65865 15.2483 6.42358 15.975 8.49997 15.975C9.26903 15.975 10.0129 15.8675 10.7317 15.6525C11.4504 15.4375 12.1379 15.1095 12.794 14.6683C12.8911 14.602 12.9879 14.5806 13.0844 14.6041C13.1807 14.6277 13.2639 14.6781 13.334 14.755C13.404 14.836 13.4334 14.9247 13.4222 15.0212C13.4109 15.1177 13.3587 15.193 13.2658 15.2471C12.5237 15.7471 11.7595 16.1211 10.9732 16.3694C10.1869 16.6176 9.36247 16.7417 8.49997 16.7417ZM15.1244 13.7708C14.9395 13.7708 14.7813 13.7054 14.6498 13.5746C14.5184 13.444 14.4527 13.2861 14.4527 13.101C14.4527 12.916 14.5181 12.7578 14.6489 12.6263C14.7797 12.4949 14.9376 12.4292 15.1225 12.4292C15.3075 12.4292 15.4657 12.4946 15.5971 12.6254C15.7286 12.756 15.7943 12.9139 15.7943 13.099C15.7943 13.284 15.7289 13.4422 15.5981 13.5737C15.4675 13.7051 15.3096 13.7708 15.1244 13.7708ZM8.8833 7.96549L12.3333 11.4155C12.4231 11.5053 12.467 11.5953 12.4651 11.6855C12.4632 11.7759 12.4112 11.8721 12.3093 11.974C12.2074 12.0759 12.1144 12.1268 12.0302 12.1268C11.9461 12.1268 11.8529 12.0759 11.7509 11.974L8.32483 8.52396C8.25727 8.45639 8.20568 8.38476 8.17006 8.30905C8.13444 8.23318 8.11663 8.14629 8.11663 8.04838V3.13333C8.11663 3.02951 8.15465 2.93967 8.23068 2.8638C8.3067 2.78793 8.39671 2.75 8.50069 2.75C8.60466 2.75 8.69443 2.78793 8.76998 2.8638C8.84553 2.93967 8.8833 3.02951 8.8833 3.13333V7.96549Z' fill='%231C1B1F'/%3E%3C/svg%3E");
  line-height: 0;
  margin-right: 10px;
  top: 3px;
  position: relative;
}
.link--sac-group-tel::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' viewBox='0 0 17 17' fill='none'%3E%3Cpath d='M15.1419 16.1666C13.5264 16.1666 11.8702 15.7621 10.1735 14.9531C8.47674 14.1439 6.89733 13.0083 5.43523 11.5462C3.98543 10.0843 2.85596 8.50799 2.0468 6.81733C1.23781 5.12667 0.833313 3.47354 0.833313 1.85795C0.833313 1.57045 0.929146 1.32775 1.12081 1.12986C1.31248 0.93212 1.55206 0.833252 1.83956 0.833252H4.20952C4.47003 0.833252 4.69731 0.91527 4.89138 1.0793C5.0856 1.24334 5.21713 1.45377 5.28597 1.71061L5.7613 3.99575C5.80555 4.26361 5.79756 4.49768 5.73734 4.69797C5.67713 4.89826 5.57083 5.0623 5.41846 5.19007L3.31588 7.15083C3.70895 7.86462 4.14356 8.52779 4.61969 9.14032C5.09582 9.75286 5.60358 10.3331 6.14296 10.8809C6.69943 11.4375 7.29839 11.9551 7.93983 12.4336C8.58112 12.9122 9.28509 13.364 10.0518 13.7892L12.1012 11.7029C12.2572 11.5346 12.4326 11.4237 12.6273 11.3704C12.822 11.3169 13.0373 11.3061 13.2732 11.338L15.2893 11.7508C15.5498 11.8147 15.7612 11.9459 15.9235 12.1445C16.0856 12.3428 16.1666 12.5704 16.1666 12.8273V15.1603C16.1666 15.4478 16.0678 15.6874 15.87 15.8791C15.6721 16.0708 15.4294 16.1666 15.1419 16.1666Z' fill='white'/%3E%3C/svg%3E");
  line-height: 0;
  margin-right: 10px;
  top: 3px;
  position: relative;
}

.link--sac-group-catalogo::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M6 9L2.25 5.25L3.3 4.1625L5.25 6.1125V0H6.75V6.1125L8.7 4.1625L9.75 5.25L6 9ZM1.5 12C1.0875 12 0.734375 11.8531 0.440625 11.5594C0.146875 11.2656 0 10.9125 0 10.5V8.25H1.5V10.5H10.5V8.25H12V10.5C12 10.9125 11.8531 11.2656 11.5594 11.5594C11.2656 11.8531 10.9125 12 10.5 12H1.5Z' fill='%23FFFFFF'/%3E%3C/svg%3E");
  line-height: 0;
  margin-right: 10px;
  top: 3px;
  position: relative;
}

.link--sac-group-topo::before {
  filter: invert(1);
}
.link--sac-group-topo.link--sac-group-hora::before {
  filter: inherit;
}
.link--sac-group-btn.link--sac-group-topo::before, .heading--related-title, .paragraph--unavailable {
  display: none;
}
.link--sac-group-topo {
  border-color:#263572;
}

.wrapper--sac-group-btn {
  border: 1px solid #EA5A1C;
  padding: 4px;
  max-width: 190px;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}

.wrapper--sac-group-btn-topo {
  background: #EA5A1C;
  color: #101010;
  max-width: 100%;
}

/* COPY RODAPÉ */
.container--copy-text {
  display: flex;
  justify-content: center;
}
.paragraph--copy-text {
  margin: 0;
  color: #474747;
  font-size: 12px;
  line-height: 16px;
}

/* DESCRIÇÃO CATEGORIA */
.heading--description-text {
  margin: 0 0 24px;
}
.heading--description-text:not(:first-child) {
  margin-top: 20px;
}
.headingLevel1--description-text,
.headingLevel2--description-text {
  font-weight: 700;
}
.headingLevel1--description-text,
.headingLevel2--description-text {
  font-size: 16px;
  line-height: 22px;
  color: #101010;
}
.headingLevel3--description-text,
.headingLevel4--description-text,
.headingLevel5--description-text,
.headingLevel6--description-text {
  font-size: 15px;
  line-height: 20px;
  color: #101010;
}
.paragraph--description-text {
  margin: 0;
  color: #101010;
  line-height: 20px;
  font-size: 14px;
}
.paragraph--description-text:not(:first-child) {
  margin-top: 20px;
}

.link--cmstopo {
  gap: 8px;
  color: #696969;
  text-decoration: inherit;
  font-size: 12px;
  line-height: 16px;
}

.paragraph--cmstopo {
  padding-left: 27px;
}
.paragraph--cmsbread2 {
  color: #212121;
  font-size: 12px;
  line-height: 16px;
  padding-left: 10px;
  margin-bottom: 7px;
  position: relative;
}
.paragraph--cmsbread2::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8' fill='none'%3E%3Cmask id='mask0_194_8324' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='8' height='8'%3E%3Crect x='8' y='8' width='8' height='8' transform='rotate(180 8 8)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_194_8324)'%3E%3Cpath d='M2.66667 0.666676L6 4.00001L2.66667 7.33334L2.075 6.74168L4.81667 4.00001L2.075 1.25834L2.66667 0.666676Z' fill='%23767676'/%3E%3C/g%3E%3C/svg%3E");
  line-height: 0;
  line-height: 0;
  position: absolute;
  left: -4px;
  top: 4px;
}
.link--cmstopo::before { 
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cmask id='mask0_194_8322' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23263572'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_194_8322)'%3E%3Cpath d='M6 19H9V13H15V19H18V10L12 5.5L6 10V19ZM4 21V9L12 3L20 9V21H13V15H11V21H4Z' fill='%23263572'/%3E%3C/g%3E%3C/svg%3E");
  line-height: 0;
  position: absolute;
  left: 11px;
  top: 16px;
}

/* PÁGINA DO PRODUTO */
.paragraph--shipping-simulator-text {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  text-transform: initial;
}
.paragraph--shipping-simulator-text::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='18' viewBox='0 0 22 18' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 10.2371C1 9.91814 1.26233 9.6596 1.58594 9.6596H14.138C14.4616 9.6596 14.7239 9.91814 14.7239 10.2371V14.5669C14.7239 14.8858 14.4616 15.1444 14.138 15.1444H7.23438C6.91077 15.1444 6.64844 14.8858 6.64844 14.5669C6.64844 14.248 6.91077 13.9894 7.23438 13.9894H13.5521V10.8146H2.17188V13.3298C2.17188 13.505 2.24241 13.6727 2.36776 13.7961C2.49314 13.9197 2.66348 13.9894 2.84113 13.9894H3.46875C3.79235 13.9894 4.05469 14.2479 4.05469 14.5669C4.05469 14.8858 3.79235 15.1443 3.46875 15.1443H2.84113C2.35305 15.1443 1.88496 14.9535 1.53967 14.6133C1.19386 14.2728 1 13.8107 1 13.3298V10.2371Z' fill='%231A1A1A'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.53967 1.53133C1.8847 1.19143 2.35268 1 2.84113 1H12.8828C13.3714 1 13.8395 1.19153 14.1846 1.5316C14.5303 1.87206 14.7239 2.33386 14.7239 2.81455V10.2371C14.7239 10.556 14.4616 10.8146 14.138 10.8146H1.58594C1.26233 10.8146 1 10.556 1 10.2371H1.58594C1 10.2371 1 10.2371 1 10.2371V2.81455C1 2.33386 1.19391 1.87178 1.53967 1.53133ZM2.17188 9.6596H13.5521V2.81455C13.5521 2.63974 13.4816 2.47198 13.3562 2.34855C13.2305 2.22472 13.0601 2.15496 12.8828 2.15496H2.84113C2.66385 2.15496 2.49368 2.22445 2.36803 2.34828C2.24263 2.47171 2.17188 2.63974 2.17188 2.81455V9.6596Z' fill='%231A1A1A'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.5521 5.28878C13.5521 4.96985 13.8144 4.7113 14.138 4.7113H17.276C19.3328 4.7113 21 6.35479 21 8.38148V13.3298C21 13.8109 20.8063 14.2728 20.4603 14.6133C20.115 14.9535 19.6469 15.1444 19.1588 15.1444H17.9036C17.58 15.1444 17.3177 14.8858 17.3177 14.5669C17.3177 14.248 17.58 13.9894 17.9036 13.9894H19.1588C19.3365 13.9894 19.5065 13.92 19.6319 13.7964C19.7573 13.673 19.8281 13.505 19.8281 13.3298V8.38148C19.8281 6.99258 18.6855 5.86626 17.276 5.86626H14.7239V14.5669C14.7239 14.8858 14.4616 15.1444 14.138 15.1444C13.8144 15.1444 13.5521 14.8859 13.5521 14.5669V5.28878Z' fill='%231A1A1A'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.35156 13.2887C4.63532 13.2887 4.05469 13.8609 4.05469 14.5669C4.05469 15.2728 4.63532 15.845 5.35156 15.845C6.06781 15.845 6.64844 15.2728 6.64844 14.5669C6.64844 13.861 6.06781 13.2887 5.35156 13.2887ZM2.88281 14.5669C2.88281 13.2231 3.98811 12.1338 5.35156 12.1338C6.71502 12.1338 7.82031 13.2231 7.82031 14.5669C7.82031 15.9107 6.71502 17 5.35156 17C3.98811 17 2.88281 15.9107 2.88281 14.5669Z' fill='%231A1A1A'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.0208 13.2887C15.3046 13.2887 14.7239 13.861 14.7239 14.5669C14.7239 15.2728 15.3046 15.845 16.0208 15.845C16.7371 15.845 17.3177 15.2728 17.3177 14.5669C17.3177 13.861 16.7371 13.2887 16.0208 13.2887ZM13.5521 14.5669C13.5521 13.2232 14.6574 12.1338 16.0208 12.1338C17.3843 12.1338 18.4896 13.2231 18.4896 14.5669C18.4896 15.9107 17.3843 17 16.0208 17C14.6574 17 13.5521 15.9107 13.5521 14.5669Z' fill='%231A1A1A'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.276 4.7113C17.5996 4.7113 17.862 4.96981 17.862 5.28874V9.6596H20.4141C20.7377 9.6596 21 9.91814 21 10.2371C21 10.556 20.7377 10.8146 20.4141 10.8146H17.2761C16.9524 10.8146 16.6901 10.556 16.6901 10.2371V5.28874C16.6901 4.96981 16.9524 4.7113 17.276 4.7113Z' fill='%231A1A1A'/%3E%3Cpath d='M1 10.2371C1 9.91814 1.26233 9.6596 1.58594 9.6596H14.138C14.4616 9.6596 14.7239 9.91814 14.7239 10.2371V14.5669C14.7239 14.8858 14.4616 15.1444 14.138 15.1444H7.23438C6.91077 15.1444 6.64844 14.8858 6.64844 14.5669C6.64844 14.248 6.91077 13.9894 7.23438 13.9894H13.5521V10.8146H2.17188V13.3298C2.17188 13.505 2.24241 13.6727 2.36776 13.7961C2.49314 13.9197 2.66348 13.9894 2.84113 13.9894H3.46875C3.79235 13.9894 4.05469 14.2479 4.05469 14.5669C4.05469 14.8858 3.79235 15.1443 3.46875 15.1443H2.84113C2.35305 15.1443 1.88496 14.9535 1.53967 14.6133C1.19386 14.2728 1 13.8107 1 13.3298V10.2371Z' fill='%231A1A1A'/%3E%3C/svg%3E%0A");
  line-height: 0;
}

.container--title {
  margin-bottom: 32px;
}
.headingLevel1--cms,
.headingLevel2--cms,
.headingLevel3--cms,
.headingLevel4--cms {
  font-weight: 700;
  color: #263572;
  margin: 0;
}
.headingLevel1--cms {
  font-size: 20px;
  line-height: 27px;
}
.headingLevel2--cms, .headingLevel3--cms,
.headingLevel4--cms {
  font-size: 14px;
  line-height: 19px;
}
.paragraph--cms, .link--cms {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
}
.paragraph--cms .link--cms, .link--cms {
  color: #263572;
  font-weight: 700;
  text-decoration: inherit;
}
.italic--cms {
  margin: 8px 8px 12px 0;
  display: inline-block;
  background: #eeeeee;
  padding: 8px 24px;
  font-style: initial;
  line-height: 16px;
  border-radius: 4px;
}

.heading--faq {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  margin: 0;
}
.heading--faq-content,
.strong--faq-content {
  font-weight: 700;
  color: #a71b28;
}
.heading--faq-content,
.paragraph--faq-content,
.list {
  font-size: 14px;
  line-height: 19px;
  margin: 0;
}
.list {
  padding-left: 25px;
}

.container--contact {
  margin-top: 24px;
}

.paragraph--contact-option {
  display: inline-flex;
  flex-direction: column;
  gap: 6px;
  padding: 10px 24px;
  background: #eeeeee;
  color: #474747;
}
.link--contact-option {
  pointer-events: none;
  text-decoration: none;
  color: inherit;
}
.strong--contact-option {
  display: flex;
  align-items: center;
  gap: 6px;
}
.strong--contact-option.strong--mail::before,
.strong--contact-option.strong--tel::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='17' viewBox='0 0 16 17' fill='none'%3E%3Cmask id='mask0_194_8587' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='16' height='17'%3E%3Crect y='0.5' width='16' height='16' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_194_8587)'%3E%3Cpath d='M2.66634 13.8333C2.29967 13.8333 1.98579 13.7028 1.72467 13.4417C1.46356 13.1806 1.33301 12.8667 1.33301 12.5V4.5C1.33301 4.13333 1.46356 3.81945 1.72467 3.55833C1.98579 3.29722 2.29967 3.16667 2.66634 3.16667H13.333C13.6997 3.16667 14.0136 3.29722 14.2747 3.55833C14.5358 3.81945 14.6663 4.13333 14.6663 4.5V12.5C14.6663 12.8667 14.5358 13.1806 14.2747 13.4417C14.0136 13.7028 13.6997 13.8333 13.333 13.8333H2.66634ZM7.99967 9.16667L2.66634 5.83333V12.5H13.333V5.83333L7.99967 9.16667ZM7.99967 7.83333L13.333 4.5H2.66634L7.99967 7.83333ZM2.66634 5.83333V4.5V12.5V5.83333Z' fill='%23ED1A3B'/%3E%3C/g%3E%3C/svg%3E");
  line-height: 0;
}

.container--unavailable {
  display: block;
}
.container--unavailable .paragraph {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  color: #EA5A1C;
}

.paragraph--texto-compa {
  color: #ababab;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  border-bottom: 1px solid #ababab;
}

:global(.vtex-menu-2-x-menuContainerNav) .wrapper--sac-group-btn  {
  margin-top: 8px;
}

/*inserção plataforma e desenvolvimento*/
.paragraph--textocompa {
  color: #474747;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 4px;
}
/*fim inserção plataforma e desenvolvimento*/

/*inclusão borda no título*/
.heading--shelf-title::after {
  content: '';
  position: absolute;
  top: 21px;
  left: 168px;
  height: 1px;
  width: 937px;
  background: #101010;
}
.headingLevel4--marcas-title.headingLevel4--montadora-title::after {
  left: 370px;
  width: 734px;
  top: 20px;
}
.headingLevel4--marcas-title::after {
  left: 264px;
  width: 834px;
  top: 20px;
}
/*fim inclusão borda título*/

@media screen and (max-width: 1025px) {
  .heading--shelf-title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 20px;
  }

  .heading--home-about-title {
    font-size: 18px;
    line-height: 25px;
  }
  .paragraph--home-about-description {
    font-size: 14px;
    line-height: 19px;
  }

  .container--newsletter-desc {
    display: block;
    text-align: center;
  }

  .paragraph--brand-resume {
    text-align: center;
    font-size: 12px;
    line-height: 16px;
  }
  .container--tecfast-footer,
  .container--tecfast-footer-desc {
    justify-content: center;
  }
  .paragraph--tecfast-footer-desc {
    font-size: 12px;
    line-height: 16px;
  }
  .heading--shelf-title {
    position: relative;
    z-index: 0;
  }
  .heading--shelf-title::after, .headingLevel4--marcas-title.headingLevel4--montadora-title::after,
  .headingLevel4--marcas-title::after {
    width: 100%;
    top: 22px;
    left: 0;
    right: 0;
    z-index: -2;
  }
  .heading--shelf-title::before {
    content: '';
    background: #ececec;
    height: 30px;
    width: 170px;
    position: absolute;
    left: 0;
    z-index: -1;
  }
  .headingLevel4--marcas-title::before {
    width: 260px;
  }
  .headingLevel4--marcas-title.headingLevel4--montadora-title::before {
    width: 300px;
  }
  
}

@media (max-width: 991px) {
  .container--newsletter-cta {
    justify-content: center;
  }

  .paragraph--copy-text {
    text-align: center;
  }

  .paragraph--textocompa {
    margin: 0;
  }
}

@media (max-width: 767px) {
  .container--copy-text {
    justify-content: center;
  }
}

@media (max-width: 639px) {
  .strong--shelf-title {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 575px) {
  .paragraph--newsletter-cta {
    text-align: center;
  }
  .container--footer-title,
  .container--sac-group-title {
    justify-content: center;
  }
  .heading--footer-title {
    margin: 0 0 20px;
  }

  .container--cms-link,
  .container--sac-group-link {
    justify-content: center;
  }

  .paragraph--tecfast-footer-desc {
    max-width: 156px;
    text-align: center;
  }

}

@media (max-width: 525px) {
  .heading--shelf-title {
    flex-direction: column;
    gap: 5px;
    align-items: baseline;
  }
  .strong--shelf-title {
    margin-top: 0;
  }

  .heading--home-about-title {
    max-width: 280px;
  }
  .paragraph--home-about-description {
    max-width: 366px;
  }
}

@media (max-width: 320px) {
  .heading--shelf-title::after {
    display: none;
  } 
}
