/* GERAL */
.container {
  padding: 0;
}
.imageElementLink {
  display: inline-block;
  line-height: 0;
}
.paragraph {
  color: inherit;
}

.logoLink {
  display: inline-block;
  line-height: 0;
}

:global(.vtex-button) {
  border: 0;
  transition: all 0.3s ease-in-out;
}

:global(.vtex-toast) {
  background: #000;
}

.discountContainer {
  width: 100%;
}

/* LOGO */
.logoContainer {
  display: inline-block;
  padding: 0;
  max-width: 196px;
  width: 100%;
}

/* BARRA DE PESQUISA */
.searchBarContainer {
  padding: 10px 20px;
  min-width: 389px;
  border: 1px solid #fff;
}

.resultsList {
  background: #fff;
}

.searchBarContainer :global(.vtex-input-prefix__group) {
  height: initial;
  border: 0;
  border-radius: 0;
  padding: 0 0 0px;
  flex-direction: row-reverse;
  gap: 10px;
}
.searchBarContainer :global(.vtex-input__suffix) {
  padding: 0;
}
.searchBarContainer :global(.vtex-styleguide-9-x-input) {
  font-size: 14px;
  border-radius: 0;
  padding: 0;
  background: transparent;
  color: #fff;
}
.searchBarContainer :global(.vtex-styleguide-9-x-input)::placeholder {
  color: #a8a8a8;
}
.searchBarIcon {
  color: #EA5A1C;
  padding: 0;
}
.searchIcon {
  width: 18px;
  height: 18px;
}
.searchBarContainer :global(.vtex-input__suffix) {
  background: transparent;
}

/* LINHA CONDIÇÕES ABAIXO DO BANNER PRINCIPAL */
.infoCardCallActionContainer--info-card-condition {
  display: none;
}
.infoCardContainer--info-card-condition {
  display: flex;
  padding: 0;
  gap: 10px;
  justify-content: initial;
}
.infoCardTextContainer--info-card-condition,
.infoCardImageContainer--info-card-condition {
  width: fit-content;
  max-width: max-content;
  padding: 0;
}
.infoCardImageContainer--info-card-condition {
  line-height: 0;
}
.paragraph--info-card-condition {
  margin: 0;
  font-weight: 300;
  line-height: 18px;
}
.strong--info-card-condition {
  font-weight: 500;
}

/* CARD PRODUTO */
.discountInsideContainer {
  left: -12px;
  right: unset;
  top: -12px;
  background: #263572;
  font-size: 16px;
  font-weight: 300;
  padding: 1px 15px;
  line-height: 22px;
  border-radius: 2px;
}

/* PÁGINA DO PRODUTO */
.carouselGaleryThumbs {
  width: 100% !important;
  max-width: 72px;
}
.productImagesThumb:not(:first-child) {
  margin-top: 15px;
}
.productImage--pdp {
  max-width: 526px;
  margin-left: auto;
}
.caretIcon--pdp {
  color: #000;
}

.shareLabel {
  display: none;
}
.shareSocialButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: none;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  border: 1px solid #d9d9d9 !important;
  margin: 0;
  transition: all 0.3s ease-in-out;
}
.shareSocialButton:hover {
  border-color: #EA5A1C !important;
  background-color: #EA5A1C !important;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.productNameContainer {
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #1a1a1a;
}

.skuSelectorSubcontainer {
  margin: 16px 0 0;
}
.skuSelectorNameContainer,
.skuSelectorOptionsList {
  margin: 0;
}
.skuSelectorOptionsList {
  gap: 8px;
}
.skuSelectorTextContainer, .skuSelectorItem--pdp--indefinido {
  display: none;
}
.frameAround--pdp {
  inset: 0;
  border: none;
}
.skuSelectorInternalBox {
  border-radius: 3px;
  border: 1px solid #d9d9d9;
  transition: all 0.3s ease-in-out;
}
.skuSelectorInternalBox:hover,
.skuSelectorItem--selected .skuSelectorInternalBox {
  background: #474747;
}
.skuSelectorItem {
  margin: 0;
  height: initial;
}
.skuSelectorItemTextValue {
  font-size: 14px;
  line-height: 19px;
  color: #212121;
  text-transform: uppercase;
  padding: 3px 16px;
  transition: all 0.3s ease-in-out;
}
.skuSelectorInternalBox:hover .skuSelectorItemTextValue,
.skuSelectorItem--selected .skuSelectorItemTextValue {
  color: #fff;
}

.shippingContainer {
  display: flex;
  align-items: flex-start;
  width: 100%;
  max-width: 400px;
  gap: 8px;
}
.shippingContainer :global(.vtex-input__label) {
  display: none;
}
.shippingContainer :global(.vtex-address-form__postalCode) {
  width: 100%;
  padding: 0;
}
.shippingContainer :global(.vtex-input-prefix__group) {
  height: 37px;
  border: 0;
  border-radius: 0px;
}
.shippingContainer :global(.vtex-address-form-4-x-input),
.shippingContainer :global(.vtex-input__suffix) {
  background: #eeeeee;
}
.shippingContainer :global(.vtex-button) {
  height: 37px;
  max-width: 105px;
  border: 0;
  border-radius: 2px;
  text-transform: initial;
  background: #263572;
}
.shippingContainer :global(.vtex-button__label) {
  font-size: 0;
  padding: 8px !important;
}
.shippingContainer :global(.vtex-button__label)::before {
  content: 'Calcular';
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: #fff;
}
.shippingContainer :global(.vtex-address-form__postalCode-forgottenURL) {
  padding-top: 10px;
  font-size: 12px;
  text-decoration: inherit;
}

.shareLabel {
  margin: 0;
  color: #5d5d5d;
  font-size: 12px;
}

.productImagesThumb {
  max-width: 72px;
  max-height: 72px !important;
  margin: 0;
  border: 1px solid #eeeeee;
  transition: all 0.3s ease-in-out;
}
.productImagesThumb:hover,
.productImagesThumbActive {
  border: 1px solid #263572;
}
.thumbImg {
  max-width: 72px;
  max-height: 72px;
  width: 100%;
  height: auto;
  object-fit: contain;
  aspect-ratio: 1/1;
}

.backToTopButtonContainer {
  right: 45px;
  z-index: 998;
}
.backToTopButtonContainer :global(.vtex-button)::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M9 16L9 3.825L14.6 9.425L16 8L8 -6.99382e-07L6.99382e-07 8L1.4 9.425L7 3.825L7 16L9 16Z' fill='%23474747'/%3E%3C/svg%3E");
  line-height: 0;
}
.backToTopButtonContainer :global(.vtex-button) {
  box-shadow: 0px 4px 6px 0px #0000001a;
  background: #fff;
  width: 40px;
  height: 40px;
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.backToTopButtonContainer :global(.vtex-button__label),
.shippingTableCellDeliveryPrice {
  display: none;
}

/*custom carrossel marcas*/

.infoCardContainer--info-card-marca {
  flex-direction: column-reverse;
}
.infoCardCallActionContainer {
  margin: 0;
  text-decoration: inherit;
  height: 30px;
  margin-top: 1rem;
}
.infoCardCallActionContainer--info-card-cat {
  height: 50px;
}
.infoCardTextContainer {
  padding: 0;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
.infoCardTextContainer--info-card-cat {
  width: 89%;
}
.infoCardCallActionText {
  margin: 0;
  text-decoration: inherit;
  color: #1a1a1a;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
.infoCardImageContainer {
  width: 100%;
}

@media (min-width: 1100px) {
  .imageElement--image__upper-mosaic-mobile {
    display: none;
  }
}


@media (max-width: 1025px) {
  .productImage--pdp {
    max-width: 326px;
    margin: auto;
  }
  .logoImage {
    max-width: 122px;
    height: 30px;
  }
  .searchBarContainer {
    min-width: 240px;
    margin: 0 auto;
    background: transparent;
  }
  .searchBarContainer:hover {
    background: transparent;
  }
  .searchBarContainer :global(.vtex-styleguide-9-x-input) {
    color: #fff;
  }
  .swiperCaret--pdp {
    margin: 0 15px;
    padding: 8px;
    box-shadow: 0px 0px 3.7px 0px #00000040;
    border-radius: 100%;
    overflow: hidden;
    color: #3a3a38;
    background: #fff;
  }
  .swiperCaret--pdp.carouselCursorDefault {
    opacity: 0.5;
  }
  .caretIcon--pdp {
    display: none;
  }
  .swiperCaretPrev--pdp::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M16 9L3.825 9L9.425 14.6L8 16L3.49691e-07 8L8 -3.49691e-07L9.425 1.4L3.825 7L16 7L16 9Z' fill='%233A3A38'/%3E%3C/svg%3E");
    line-height: 0;
  }
  .swiperCaretNext--pdp::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M-3.0598e-07 9L12.175 9L6.575 14.6L8 16L16 8L8 -3.49691e-07L6.575 1.4L12.175 7L-3.93402e-07 7L-3.0598e-07 9Z' fill='%233A3A38'/%3E%3C/svg%3E");
    line-height: 0s;
  }

  .carouselGaleryThumbs {
    display: flex;
    max-width: initial;
    margin-top: 16px;
  }
  .productImagesThumb:not(:first-child) {
    margin-top: 0;
    margin-left: 1px;
  }
}

@media screen and (max-width: 991px) {
  .swiperCaret--pdp {
    margin: 0 4px;
  }
  .shippingContainer {
    max-width: 100%;
  }
  .productNameContainer {
    margin-bottom: 2rem;
  }
  .infoCardContainer--info-card-marca {
    display: flex;
  }
  .imageElementLink--footer-logo .imageElement--footer-logo {
    max-width: 310px !important;
    width: 100%;
  }
  .productImagesThumb {
    width: 100% !important;
  }
  .imageElement--image__upper-mosaicmid {
    display: none;
  }
  .imageElement--image__upper-mosaic-mobile {
    display: block;
  }
  .imageElement--image__upper-mosaic {
    width: 100%;
  }
  .infoCardCallActionText {
    font-size: 14px;
    line-height: 21px;
  }
  .infoCardCallActionContainer--info-card-cat {
    height: 60px;
  }
}

@media screen and (max-width: 575px) {
  .shareContainer {
    max-width: 100%;
  }
  .imageElement--image__bottom-mosaic {
    min-height: 68px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
  }
}
