.trigger--trigger-store-info {
  border: 0;
  min-height: initial;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  width: 95px;
  overflow: hidden;
  transition: all 0.3s;
}

.dropdown {
  background: #fff;
  box-shadow: 2px 2px 4px 2px rgba(0,0,0,.2);
  padding: 15px;
}

.container  {
  padding: 0;
  border: 0;
}
.trigger--trigger-store-share {
  position: relative;
}
.trigger--trigger-store-share::before {
  content: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2217%22%20viewBox%3D%220%200%2016%2017%22%20fill%3D%22none%22%3E%3Cmask%20id%3D%22mask0_10040_24245%22%20style%3D%22mask-type%3Aalpha%22%20maskUnits%3D%22userSpaceOnUse%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2216%22%20height%3D%2217%22%3E%3Crect%20y%3D%220.5%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22%23D9D9D9%22%2F%3E%3C%2Fmask%3E%3Cg%20mask%3D%22url%28%23mask0_10040_24245%29%22%3E%3Cpath%20d%3D%22M12%2015.1667C11.4444%2015.1667%2010.9722%2014.9722%2010.5833%2014.5833C10.1944%2014.1944%2010%2013.7222%2010%2013.1667C10%2013.0889%2010.0056%2013.0083%2010.0167%2012.925C10.0278%2012.8417%2010.0444%2012.7667%2010.0667%2012.7L5.36667%209.96667C5.17778%2010.1333%204.96667%2010.2639%204.73333%2010.3583C4.5%2010.4528%204.25556%2010.5%204%2010.5C3.44444%2010.5%202.97222%2010.3056%202.58333%209.91667C2.19444%209.52778%202%209.05556%202%208.5C2%207.94445%202.19444%207.47222%202.58333%207.08333C2.97222%206.69445%203.44444%206.5%204%206.5C4.25556%206.5%204.5%206.54722%204.73333%206.64167C4.96667%206.73611%205.17778%206.86667%205.36667%207.03333L10.0667%204.3C10.0444%204.23333%2010.0278%204.15833%2010.0167%204.075C10.0056%203.99167%2010%203.91111%2010%203.83333C10%203.27778%2010.1944%202.80556%2010.5833%202.41667C10.9722%202.02778%2011.4444%201.83333%2012%201.83333C12.5556%201.83333%2013.0278%202.02778%2013.4167%202.41667C13.8056%202.80556%2014%203.27778%2014%203.83333C14%204.38889%2013.8056%204.86111%2013.4167%205.25C13.0278%205.63889%2012.5556%205.83333%2012%205.83333C11.7444%205.83333%2011.5%205.78611%2011.2667%205.69167C11.0333%205.59722%2010.8222%205.46667%2010.6333%205.3L5.93333%208.03333C5.95556%208.1%205.97222%208.175%205.98333%208.25833C5.99444%208.34167%206%208.42222%206%208.5C6%208.57778%205.99444%208.65833%205.98333%208.74167C5.97222%208.825%205.95556%208.9%205.93333%208.96667L10.6333%2011.7C10.8222%2011.5333%2011.0333%2011.4028%2011.2667%2011.3083C11.5%2011.2139%2011.7444%2011.1667%2012%2011.1667C12.5556%2011.1667%2013.0278%2011.3611%2013.4167%2011.75C13.8056%2012.1389%2014%2012.6111%2014%2013.1667C14%2013.7222%2013.8056%2014.1944%2013.4167%2014.5833C13.0278%2014.9722%2012.5556%2015.1667%2012%2015.1667ZM12%204.5C12.1889%204.5%2012.3472%204.43611%2012.475%204.30833C12.6028%204.18056%2012.6667%204.02222%2012.6667%203.83333C12.6667%203.64445%2012.6028%203.48611%2012.475%203.35833C12.3472%203.23056%2012.1889%203.16667%2012%203.16667C11.8111%203.16667%2011.6528%203.23056%2011.525%203.35833C11.3972%203.48611%2011.3333%203.64445%2011.3333%203.83333C11.3333%204.02222%2011.3972%204.18056%2011.525%204.30833C11.6528%204.43611%2011.8111%204.5%2012%204.5ZM4%209.16667C4.18889%209.16667%204.34722%209.10278%204.475%208.975C4.60278%208.84722%204.66667%208.68889%204.66667%208.5C4.66667%208.31111%204.60278%208.15278%204.475%208.025C4.34722%207.89722%204.18889%207.83333%204%207.83333C3.81111%207.83333%203.65278%207.89722%203.525%208.025C3.39722%208.15278%203.33333%208.31111%203.33333%208.5C3.33333%208.68889%203.39722%208.84722%203.525%208.975C3.65278%209.10278%203.81111%209.16667%204%209.16667ZM12%2013.8333C12.1889%2013.8333%2012.3472%2013.7694%2012.475%2013.6417C12.6028%2013.5139%2012.6667%2013.3556%2012.6667%2013.1667C12.6667%2012.9778%2012.6028%2012.8194%2012.475%2012.6917C12.3472%2012.5639%2012.1889%2012.5%2012%2012.5C11.8111%2012.5%2011.6528%2012.5639%2011.525%2012.6917C11.3972%2012.8194%2011.3333%2012.9778%2011.3333%2013.1667C11.3333%2013.3556%2011.3972%2013.5139%2011.525%2013.6417C11.6528%2013.7694%2011.8111%2013.8333%2012%2013.8333Z%22%20fill%3D%22%23ABABAB%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  line-height: 0;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 0px;
  left: -22px;
}

@media (min-width: 1100px) {
  .trigger--trigger-store-info:hover {
    border: 1px solid #f4f4f426;
    border-radius: 0;
  }
}
@media (max-width: 991px) {
  .popper--share-box {
    left: -16px !important;
  }
}