.trigger--cms-menu {
  padding: 0;
  background: none;
  border: 0;
  pointer-events: none;
}
:global(.vtex-rich-text-0-x-heading--side-cms-menu-title) {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  margin: 0;
}
.content--cms-menu {
  display: block !important;
  margin-top: 24px;
}
.content--cms-menu :global(.vtex-menu-2-x-menuItem):not(:first-child) {
  margin-top: 16px;
}
.content--cms-menu :global(.vtex-menu-2-x-styledLinkContent) {
  color: #474747;
}
.content--cms-menu :global(.vtex-menu-2-x-styledLinkContent):hover {
  border-color: #212121;
}

.trigger:not(.trigger--cms-menu) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  border: 0;
  background: 0;
  width: 100%;
  cursor: pointer;
}
.trigger:not(.trigger--cms-menu)::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cmask id='mask0_204_7078' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='16' height='16'%3E%3Crect y='16' width='16' height='16' transform='rotate(-90 0 16)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_204_7078)'%3E%3Cpath d='M14.6663 5.33333L7.99968 12L1.33301 5.33333L2.51634 4.15L7.99968 9.63333L13.483 4.15L14.6663 5.33333Z' fill='%23767676'/%3E%3C/g%3E%3C/svg%3E");
  line-height: 0;
  transition: all 0.3s ease-in-out;
}
.trigger.trigger--visible::after {
  transform: rotate(180deg);
}

.content--faq {
  margin-top: 16px;
}

@media (max-width: 1025px) {
  .trigger--cms-menu {
    pointer-events: initial;
    padding: 10px 30px;
    border: 1px solid #1a1a1a;
    border-radius: 6px;
  }

  :global(.vtex-rich-text-0-x-heading--side-cms-menu-title) {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 0;
    line-height: 0;
  }
  :global(.vtex-rich-text-0-x-heading--side-cms-menu-title)::before {
    content: 'Navegue pelo menu';
    font-size: 16px;
    line-height: 22px;
  }
  :global(.vtex-rich-text-0-x-heading--side-cms-menu-title)::after {
    content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='7' fill='none'%3E%3Cpath d='M5.93 6.81l4.894-5.302A.675.675 0 0011 1.047a.675.675 0 00-.176-.461l-.36-.39a.57.57 0 00-.851 0l-4.11 4.452L1.386.19A.575.575 0 00.962 0a.576.576 0 00-.426.19l-.36.39A.676.676 0 000 1.043c0 .174.062.338.176.46l4.9 5.308a.576.576 0 00.853 0z' fill='%234F4F4F'/%3E%3C/svg%3E");
    transition: all 0.3s ease-in-out;
  }
  .trigger--cms-menu--visible
    :global(.vtex-rich-text-0-x-heading--side-cms-menu-title)::after {
    transform: rotate(-90deg);
  }

  .trigger:not(.trigger--cms-menu) {
    align-items: baseline;
  }

  .content--cms-menu--hidden {
    display: none !important;
  }
}
