.container {
  padding: 24px 0px 27px;
  display: flex;
  align-items: center;
}

.homeIcon {
  display: inline-block;
  width: 16px;
  height: 20px;
}

.homeLink.link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #696969;
  padding: 0;
  line-height: 0;
}
.homeLink::after {
  content: 'Home';
  line-height: 16px;
  padding: 4px 0 0;
}

.link,
.term {
  font-size: 12px;
  padding: 0 0 0 10px;
  line-height: 16px;
}
.link:hover {
  color: #000;
}
.link {
  color: #696969;
}
.term {
  color: #212121;
  padding-top: 4px;
}

.arrow {
  display: flex;
  align-items: center;
  padding: 4px 0 0 10px;
  color: #767676;
  font-size: 12px;
  line-height: 16px;
}
.arrow:last-child .link {
  color: #212121;
}

@media screen and (max-width: 1025px) {
  .container {
    padding: 20px 0 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .term,
  .arrow:last-child .link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
