/* CARD PRODUTO */
.sellingPrice--selling-price-summary:not(.sellingPrice--selling-price-summary--hasListPrice) {
  display: none;
}
/* LISTA DE FAVORITOS */
:global(.vtex-slider-layout-0-x-sliderLayoutContainer--wish-slider)
  .sellingPrice--selling-price-summary:not(.sellingPrice--selling-price-summary--hasListPrice) {
  display: inline-block;
  font-size: 16px;
  line-height: 21.86px;
  color: #EA5A1C;
  font-weight: 700;
}

.sellingPrice--selling-price-summary {
  font-size: 12px;
  font-weight: 400;
  line-height: 16.39px;
  color: #a8a8a8;
  text-decoration: line-through;
}
.savings {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #3F3F3F;
  margin-left: 8px;
}
.installments--installments-summary {
  font-size: 12px;
  font-weight: 400;
  line-height: 16.39px;
  color: #101010;
  display: block;
}
.installmentsTotalValue {
  font-weight: 700;
}
.listPriceValue--list-price-summary {
  font-size: 10px;
  line-height: 15px;
  color: #A2A2A2;
}
.spotPrice,
.spotPriceValue {
  color: #263572;
}
.spotPrice {
  display: flex;
  flex-direction: column;
}
.spotPrice--summary {
  font-size: 12px;
  line-height: 16.39px;
}
.spotPriceValue {
  font-weight: 700;
}
.spotPriceValue--summary {
  font-size: 18px;
  line-height: 27px;
  margin-right: 5px;
}

.currencyCode--summary {
  font-size: 14px;
  line-height: 21px;
}

/* PÁGINA DO PRODUTO */
.spotPriceValue--pdp {
  font-size: 32px;
  line-height: 49px;
  font-weight: 800;
}

.installments--installments-pdp {
  font-size: 14px;
  color: #101010;
}
.installmentsTotalValue--installments-pdp {
  font-weight: 700;
}
.currencyCode--pdp {
  font-size: 20px;
}
.sellingPriceValue--selling-price-pdp {
  display: none;
}
.listPrice--list-price-pdp, .sellingPriceValue--selling-price-pdp {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.39px;
  color: #a8a8a8;
  text-decoration: line-through;
}

:global(.vtex-flex-layout-0-x-flexCol--prices-pdp-content) .spotPrice {
  font-weight: 700;
}

@media (min-width: 1100px) {
  .spotPrice {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 575px) {
  .spotPrice--summary,
  .installments--installments-summary .installmentsTotalValue {
    font-weight: 700;
  }
}
