.link--social-link {
  display: inline-block;
  width: 36px;
  height: 36px;
  position: absolute;
  inset: 0;
  z-index: 1;
}
.label--social-link {
  font-size: 0;
}

.link--modal-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  text-decoration: none;
  color: #474747;
  transition: all 0.3s ease-in-out;
}
.link--modal-link:not(:first-child) {
  border-top: 1px solid #d9d9d9;
}
.link--modal-link:not(.link--wpp):hover {
  background: #d9d9d9;
}

.link--modal-link::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10' fill='none'%3E%3Cmask id='mask0_4765_4469' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='10' height='10'%3E%3Crect width='10' height='10' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_4765_4469)'%3E%3Cpath d='M3.34371 9.16671L2.60413 8.42712L6.03121 5.00004L2.60413 1.57296L3.34371 0.833374L7.51038 5.00004L3.34371 9.16671Z' fill='%23696969'/%3E%3C/g%3E%3C/svg%3E");
  line-height: 0;
}

.link--wpp {
  background: #36bb2f;
  color: #fff;
  border-radius: 4px;
  overflow: hidden;
}
.link--wpp:hover {
  background: #23ac1c;
}
.link--wpp::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10' fill='none'%3E%3Cmask id='mask0_4765_4469' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='10' height='10'%3E%3Crect width='10' height='10' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_4765_4469)'%3E%3Cpath d='M3.34371 9.16671L2.60413 8.42712L6.03121 5.00004L2.60413 1.57296L3.34371 0.833374L7.51038 5.00004L3.34371 9.16671Z' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E");
}
.label--wpp {
  display: flex;
  align-items: center;
  gap: 10px;
}
.label--wpp::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 15 15' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.1303 2.43973C10.7955 1.10339 9.02036 0.367117 7.12922 0.366333C3.23235 0.366333 0.0608695 3.53773 0.059302 7.43564C0.0587796 8.68168 0.384288 9.89803 1.003 10.9702L0 14.6337L3.74787 13.6505C4.78056 14.2138 5.94318 14.5107 7.12635 14.511H7.12931C11.0257 14.511 14.1976 11.3394 14.1991 7.4413C14.1998 5.55217 13.4651 3.77598 12.1303 2.43973ZM7.12922 13.3171H7.12678C6.07241 13.3166 5.03832 13.0333 4.13599 12.498L3.92151 12.3706L1.69747 12.954L2.2911 10.7856L2.15133 10.5633C1.5631 9.62773 1.25248 8.54636 1.25301 7.43608C1.25423 4.19623 3.89034 1.56039 7.13157 1.56039C8.70112 1.56091 10.1765 2.17291 11.2859 3.28363C12.3953 4.39434 13.006 5.87071 13.0054 7.44087C13.004 10.681 10.3681 13.3171 7.12922 13.3171ZM10.3524 8.9161C10.1758 8.82763 9.30729 8.40041 9.14532 8.34137C8.98352 8.28242 8.86561 8.25307 8.74797 8.42984C8.63015 8.60662 8.29166 9.00458 8.18856 9.1224C8.08546 9.2403 7.98253 9.25511 7.80584 9.16663C7.62915 9.07825 7.05999 8.89163 6.3852 8.28982C5.86011 7.82141 5.5056 7.24293 5.40249 7.06616C5.29957 6.88921 5.40162 6.80283 5.48 6.70564C5.67123 6.46817 5.86272 6.21921 5.92158 6.10139C5.98054 5.98348 5.95102 5.88029 5.90678 5.7919C5.86272 5.70352 5.50943 4.83401 5.36226 4.48021C5.21875 4.13589 5.07324 4.18239 4.96474 4.17699C4.86181 4.17185 4.74399 4.17081 4.62617 4.17081C4.50844 4.17081 4.31703 4.21496 4.15506 4.39191C3.99318 4.56877 3.53688 4.99607 3.53688 5.86557C3.53688 6.73508 4.16987 7.57506 4.25817 7.69297C4.34647 7.81087 5.50386 9.59516 7.27587 10.3603C7.69734 10.5424 8.02633 10.651 8.28296 10.7324C8.70617 10.8669 9.09115 10.8479 9.39559 10.8024C9.73503 10.7517 10.4406 10.3751 10.588 9.96247C10.7352 9.54979 10.7352 9.19615 10.6909 9.1224C10.6469 9.04873 10.529 9.00458 10.3524 8.9161Z' fill='white'/%3E%3C/svg%3E");
  line-height: 0;
}
