.sliderLayoutContainer--main-slider {
  margin-top: -90px;
}
.sliderLayoutContainer--main-slider .imageElement--main-slider {
  max-height: initial !important;
}
.videoContainer--main-slider {
  width: 100%;
  height: 100%;
}
.paginationDot {
  transition: all 0.3s ease-in-out;
  background: #d9d9d9;
  width: 32px !important;
  height: 5px !important;
  margin: 0 8px;
  border-radius: 5px;
  padding: 0;
}
.paginationDot--isActive {
  background: #EA5A1C;
}
.paginationDot--shelf-carousel {
  height: 3px !important;
}

.slide--shelf-carousel,
.slide--partners {
  margin: 0 15px;
}

.caretIcon {
  display: none;
}
.sliderLeftArrow {
  left: -10px;
}
.sliderLeftArrow::before {
  content: url(assets/icons/arrow_back_ios.svg);
  line-height: 0;
  filter: brightness(0) saturate(100%) invert(100%);
}
.sliderRightArrow::before {
  content: url(assets/icons/arrow_next_ios.svg);
  line-height: 0;
  filter: brightness(0) saturate(100%) invert(100%);
}
.sliderRightArrow {
  right: -10px;
}
.sliderArrows {
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  background:#263572 !important;
  box-shadow: 0px 4px 6px 0px #00000026;
  border-radius: 0px;
  top: 45%; 
  transform: translate(0, -45%);
  transition: all 0.3s ease-in-out;
}
.sliderArrows:hover {
  box-shadow: 0px 4px 8px 0px #00000040;
}

/* SLIDER PRINCIPAL */
.paginationDotsContainer--main-slider {
  bottom: 25px;
}

/* SLIDER CATEGORIAS */
.slide--categories {
  margin: 0 14px;
}
.slideChildrenContainer--categories
  :global(.vtex-store-components-3-x-imageElementLink) {
  position: relative;
  z-index: 0;
}
.slideChildrenContainer--categories
  :global(.vtex-store-components-3-x-imageElementLink)::before {
  content: '';
  position: absolute;
  z-index: 1;
  inset: 0;
  box-shadow: inset 0 0 0 2px transparent;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
}
.slideChildrenContainer--categories:hover
  :global(.vtex-store-components-3-x-imageElementLink)::before {
  box-shadow: inset 0 0 0 2px rgb(16, 16, 16);
}
.slide--categories :global(.vtex-store-components-3-x-imageElement) {
  max-width: 200px;
  max-height: 200px;
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: contain;
}

/* SLIDER PRODUTOS */
.sliderTrackContainer--shelf-carousel {
  padding: 4px 0 30px;
}
.paginationDotsContainer--shelf-carousel {
  display: none;
}


/* SLIDER FAVORITOS DENTROS DE MINHA CONTA */
.sliderLayoutContainer--wishlist {
  margin: 0 -15px;
}
.sliderTrackContainer--wishlist {
  max-width: 826px;
}

@media screen and (max-width: 1199px) {
  .sliderLeftArrow {
    left: 0;
  }
  .sliderRightArrow {
    right: 0;
  }
}

@media screen and (max-width: 1025px) {
  .sliderLayoutContainer--main-slider {
    margin-top: -68px;
  }
  .sliderArrows {
    width: 30px;
    height: 30px;
  }
  .sliderLeftArrow::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='13' viewBox='0 0 8 13' fill='none'%3E%3Cpath d='M6.27441 12.5416L0.246826 6.49992L6.27441 0.458252L7.34431 1.53065L2.38662 6.49992L7.34431 11.4692L6.27441 12.5416Z' fill='%23ffffff'/%3E%3C/svg%3E");
  }
  .sliderRightArrow::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='13' viewBox='0 0 8 13' fill='none'%3E%3Cpath d='M1.73243 0.458417L7.76001 6.50008L1.73243 12.5417L0.66253 11.4694L5.62022 6.50008L0.662529 1.53081L1.73243 0.458417Z' fill='%23ffffff'/%3E%3C/svg%3E");
  }
  .sliderLeftArrow {
    left: 7.5px;
  }
  .sliderRightArrow {
    right: 7.5px;
  }
}

@media screen and (max-width: 767px) {
  .slide--shelf-carousel,
  .slide--partners,
  .slide--categories {
    margin: 0px 7.5px;
  }

  .sliderLeftArrow {
    left: 0;
  }
  .sliderRightArrow {
    right: 0;
  }

  .sliderLayoutContainer--wishlist {
    margin: 0;
  }
}

@media screen and (max-width: 475px) {
  .sliderTrackContainer--shelf-carousel {
    padding: 4px 0 6px;
  }

  .sliderLayoutContainer--shelf-carousel {
    padding-bottom: 30px;
  }
}
