/* CARD PRODUTO */
.buttonText--buy-button-shelf {
  font-size: 14px;
  line-height: 21px;
  text-transform: initial;
  font-weight: 700;
  border-radius: 0;
  border: 0;
  color: #101010;
}

@media (max-width: 991px) {
  .buttonText--buy-button-shelf {
    font-size: 12px;
  }
}
