.summaryItemContainer--minicart {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.price--minicart {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}
.summarySmallDisclaimer--minicart {
  padding: 16px 53px;
  font-size: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  margin: 24px 0;
}
.summarySmallDisclaimer--minicart::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cmask id='mask0_155_2775' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect y='3.62396e-05' width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_155_2775)'%3E%3Cpath d='M9.1665 14.1667H10.8332V9.1667H9.1665V14.1667ZM9.99984 7.50004C10.2359 7.50004 10.4339 7.42018 10.5936 7.26045C10.7533 7.10073 10.8332 6.90281 10.8332 6.6667C10.8332 6.43059 10.7533 6.23268 10.5936 6.07295C10.4339 5.91323 10.2359 5.83337 9.99984 5.83337C9.76373 5.83337 9.56581 5.91323 9.40609 6.07295C9.24637 6.23268 9.1665 6.43059 9.1665 6.6667C9.1665 6.90281 9.24637 7.10073 9.40609 7.26045C9.56581 7.42018 9.76373 7.50004 9.99984 7.50004ZM9.99984 18.3334C8.84706 18.3334 7.76373 18.1146 6.74984 17.6771C5.73595 17.2396 4.854 16.6459 4.104 15.8959C3.354 15.1459 2.76025 14.2639 2.32275 13.25C1.88525 12.2361 1.6665 11.1528 1.6665 10C1.6665 8.84726 1.88525 7.76393 2.32275 6.75004C2.76025 5.73615 3.354 4.8542 4.104 4.1042C4.854 3.3542 5.73595 2.76045 6.74984 2.32295C7.76373 1.88545 8.84706 1.6667 9.99984 1.6667C11.1526 1.6667 12.2359 1.88545 13.2498 2.32295C14.2637 2.76045 15.1457 3.3542 15.8957 4.1042C16.6457 4.8542 17.2394 5.73615 17.6769 6.75004C18.1144 7.76393 18.3332 8.84726 18.3332 10C18.3332 11.1528 18.1144 12.2361 17.6769 13.25C17.2394 14.2639 16.6457 15.1459 15.8957 15.8959C15.1457 16.6459 14.2637 17.2396 13.2498 17.6771C12.2359 18.1146 11.1526 18.3334 9.99984 18.3334ZM9.99984 16.6667C11.8609 16.6667 13.4373 16.0209 14.729 14.7292C16.0207 13.4375 16.6665 11.8611 16.6665 10C16.6665 8.13893 16.0207 6.56254 14.729 5.27087C13.4373 3.9792 11.8609 3.33337 9.99984 3.33337C8.13873 3.33337 6.56234 3.9792 5.27067 5.27087C3.979 6.56254 3.33317 8.13893 3.33317 10C3.33317 11.8611 3.979 13.4375 5.27067 14.7292C6.56234 16.0209 8.13873 16.6667 9.99984 16.6667Z' fill='%23696969'/%3E%3C/g%3E%3C/svg%3E");
  line-height: 0;
}
.summarySmallDisclaimer--minicart::after {
  content: 'Informações de frete e prazo de entrega serão adicionadas no Check-out.';
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: #696969;
}

@media (max-width: 639px) {
  .summarySmallDisclaimer--minicart {
    padding: 10px 17px;
    margin: 21px 0;
  }
}
