/* CARD PRODUTO */
.sellingPrice--selling-price-summary:not(.sellingPrice--selling-price-summary--hasListPrice) {
  display: none;
}
/* LISTA DE FAVORITOS */
:global(.vtex-slider-layout-0-x-sliderLayoutContainer--wish-slider)
  .sellingPrice--selling-price-summary:not(.sellingPrice--selling-price-summary--hasListPrice) {
  display: inline-block;
  font-size: 16px;
  line-height: 21.86px;
  color: #ed1a3b;
  font-weight: 700;
}

.sellingPrice--selling-price-summary {
  font-size: 12px;
  font-weight: 400;
  line-height: 16.39px;
  color: #a8a8a8;
}
.savings {
  font-size: 12px;
  font-weight: 400;
  line-height: 16.39px;
  color: #a71b28;
  margin-left: 8px;
}
.installments--installments-summary {
  font-size: 12px;
  font-weight: 400;
  line-height: 16.39px;
  color: #696969;
  display: block;
}
.listPriceValue--list-price-summary {
  font-size: 12px;
  color: #979797;
  margin-right: 7px;
}
.spotPrice,
.spotPriceValue {
  color: #ed1a3b;
}
.spotPrice--summary {
  font-size: 12px;
  line-height: 16.39px;
}
.spotPriceValue {
  font-weight: 700;
}
.spotPriceValue--summary {
  font-size: 16px;
  line-height: 21.86px;
  margin-right: 5px;
}

/* PÁGINA DO PRODUTO */
.spotPriceValue--pdp {
  font-size: 20px;
  line-height: 27px;
}

.installments--installments-pdp {
  font-size: 14px;
  color: #696969;
}

@media screen and (max-width: 575px) {
  .spotPrice--summary,
  .installments--installments-summary {
    font-weight: 700;
  }
}
