.productInfoTabs {
  padding: 40px 0 0;
  margin-top: 40px;
  border-top: 1px solid #d9d9d9;
}

.tabHeader {
  display: flex;
  gap: 8px;
  flex-wrap: nowrap;
  text-wrap: nowrap;
  overflow-x: auto;
}
.tabHeader::-webkit-scrollbar {
  display: none;
}
.infoControl {
  padding: 7px 16px;
  border-radius: 4px;
  background: transparent;
  border: 1px solid #d9d9d9;
  color: #696969;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  cursor: pointer;
  outline: none !important;
  transition: all 0.3s ease-in-out;
}
.infoControl.active,
.infoControl:hover {
  color: #ed1a3b;
  border-color: #ed1a3b;
}

.tabContent {
  padding-top: 24px;
  background: #fff;
  font-size: 14px;
  line-height: 20px;
  color: #474747;
}
.tabContent p {
  margin: 0;
}
.tabContent p + p {
  margin-top: 15px;
}

.tabContent a[href$='.pdf'] {
  display: inline-block;
  padding: 12px 18px 12px 40px;
  border: 1px solid #000;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  text-decoration: none;
  position: relative;
  z-index: 0;
}
.tabContent a[href$='.pdf']::before {
  content: '';
  position: absolute;
  z-index: 0;
  width: 14px;
  height: 14px;
  background: url(../../../assets/icons/download.svg);
  top: 50%;
  left: 18px;
  transform: translate(0, -50%);
}

@media (max-width: 991px) {
  .productInfoTabs {
    border: 0;
    padding: 0;
  }

  .infoControl {
    font-size: 12px;
    line-height: 16px;
  }

  .tabContent {
    font-size: 12px;
    padding: 24px 0 0;
  }
}
