.controlesconde {
  display: grid;
  gap: 10px;
}
:global(.vtex-product-summary-2-x-container) .controlesconde .textoconsultor {
  text-align: center;
  margin-bottom: 0;
  font-size: 13px;
}
.btnorcamento {
  background: #EA5A1C;
  color: #fff;
  height: 40px;
  cursor: pointer;
  justify-content: center;
  display: flex;
  align-items: center;
  text-decoration: inherit;
  width: 72%;
  margin: auto;
  border-radius: 8px;
  border: 0;
  font-size: 16px;
  font-weight: 700;
  text-transform: initial;
  transition: all 0.3s ease-in-out;
  display: none;
}
.btnorcamento:hover {
  background: #de0d2e;
  color: #fff;
}

:global(.vtex-product-summary-2-x-container) .btnorcamento {
  display: none;
}
:global(.vtex-product-summary-2-x-container) .controlesconde {
  font-size: 14px;
  margin-bottom: 8px;
}

.controlesconde .textoconsultor {
  font-weight: 700;
  margin-bottom: 10px;
  color: #212121;
  font-size: 16px;
}
