.itemContainer:not(.allCategories):nth-child(7) .departmentLink {
  color: #ea5a1c;
  font-weight: 700;
}

.itemContainer--department {
  order: 2;
}
.allCategories {
  order: 1;
}
.itemContainer--category {
  left: 0;
  right: 0;
  background: #FAFAFA;
}

.animation {
  left: 0;
}

@media only screen and (max-width: 40rem) {
  body.sidebarOpen {
    overflow-y: hidden;
  }
}

.container {
  width: 100%;
}

.container .section--department {
  padding: 10px 0;
}
.section--category {
  display: block;
  max-width: 100%;
  max-height: calc(100vh - 170px);
  overflow-y: auto;
}

.departmentList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.departmentLink {
  margin: 0;
  padding: 6px 0;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  transition: all 0.3s ease-in-out !important;
  outline: none !important;
  border: 0 !important;
}
.itemContainer:not(.allCategories) .departmentLink {
  position: relative;
  z-index: 0;
}
.itemContainer:not(.allCategories) .departmentLink::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: transparent;
  transition: all 0.3s ease-in-out !important;
}
.itemContainer:not(.allCategories):hover .departmentLink::after {
  background: transparent;
}

.firstLevelList {
  display: block;
  padding: 0;
}
.firstLevelLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 10px 30px;
  font-size: 14px;
  line-height: 18px;
  white-space: break-spaces;
  color: #263572;
  font-weight: 700;
}
.firstLevelLink:hover {
  text-decoration: none;
  background: #ebebeb;
}
.firstLevelLink svg {
  min-width: 8px;
}
.toggleSubMenu {
  border: 0;
  padding: 0;
  background: 0;
  line-height: 0;
  cursor: pointer;
  min-width: 17px;
}
.firstLevelLinkContainer {
  
}

.secondLevelList {
}
.secondLevelListContainer {
  position: absolute;
  top: 0;
  left: 100%;
  padding: 15px 30px;
  height: 100%;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 4px 0px 4px 0px #0000001A;
}
.firstLevelLinkContainer:hover .secondLevelListContainer {
  opacity: 1;
  visibility: visible;
}
.secondLevelLinkContainer {
  padding: 5px 0;
}
.secondLevelLink {
  padding: 0;
  color: #474747;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  transition: all 0.3s ease-in-out;
}
.secondLevelLink:hover {
  color: #1a1a1a;
  text-decoration: none;
}

.submenuList {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  max-width: 241px;
  width: 100%;
  padding: 15px 0;
  box-shadow: 4px 0px 4px 0px #0000001A;
}
.submenuItem {
  display: block;
}

.allCategories strong {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  padding: 9px 16px;
  padding-left: 0;
  padding-right: 0;
}

.itemContainer--department:nth-child(+6) {
  display: none;
}

.allCategories strong span {
  color: #EA5A1C;
}
.sidebarContentWrapper {
  height: calc(100%);
}
.sidebarOpen {
}

.sidebarScrim,
.sidebar {
  background: #212121;
}
.sidebar {
  overflow: hidden;
}
.sidebar :global(.vtex-menu-2-x-menuContainerNav--cms-sidebar) {
  padding: 30px 21px;
  border-top: 1px solid #d4d4d4;
}
.sidebar :global(.vtex-menu-2-x-styledLinkContent) {
  border: 0;
  padding: 0;
}
.sidebar :global(.vtex-menu-2-x-menuItem):not(:first-child) {
  margin-top: 12px;
}

.sidebarHeader {
}

.sidebarContent {
  margin: 20px;
  padding: 0;
  height: calc(100vh - 48px - 66px - 146px);
  height: calc(108dvh - 48px - 66px - 146px
  ); /* 100% - margens - headermobile - cms-menu */
  overflow: auto;
}
.pointerNavigate,
.sideBarItemTitleClasses {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}
.pointerNavigate,
.subCategoryContainer .sideBarItemTitleClasses {
  font-weight: 400;
}

.sidebarItem {
}

.sidebarContainer {
}

.menuContainer {
}

.sidebarDepartment:not(:first-child) {
  border-top: 0.7px solid #efefef;
}
.sidebarItemContainer {
  padding: 16px 20px 16px 0;
}
.pointerNavigate {
  padding: 8px 12px;
}

.sideBarSpanClasses {
  line-height: 0;
  color: #fff;
}

.menuIcon {
  color: #EA5A1C;
}

.sidebarHeader {
  padding: 15px 20px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.iconContainer {
  line-height: 0;
}
.sidebar {
  background: #000;
}

.sidebarDepartment:last-child .sideBarItemTitleClasses {
  color: #EA5A1C;
  font-weight: 700;
}

.sidebar :global(.vtex-overlay-layout-0-x-trigger) {
  margin-left: 12px;
  margin-bottom: 15px;
}

@media (max-width: 1025px) {
  .sidebarContent {
    margin-top: 0;
  }
}

@media screen and (max-width: 767px) {
  input, select, textarea {
    font-size: 16px;
  }
}