/* src/styles/bannerslider.css */

/* Estilos para o carrossel */
.swiper-button-next, .swiper-button-prev {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: none;
  }
  
  .swiper-container .swiper-pagination {
    position: absolute;
    bottom: 25px;
    left: 0;
    width: 100%;
    text-align: center;
  }
  
  .swiper-pagination-bullet {
    transition: all 0.3s ease-in-out;
    background: #d9d9d9;
    width: 32px !important;
    height: 5px !important;
    margin: 0 8px !important;
    border-radius: 5px;
    padding: 0;
    opacity: 1;
  }
  
  .swiper-pagination-bullet-active {
    background: #EA5A1C;
  }
  
  .swiper-wrapper {
    text-align: center;
  }
  
  .swiper-container {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  
  .single-banner {
    text-align: center;
    display: block;
  }
  
  .swiper-container.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
  }
  
  .loading-spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  @media (max-width: 1025px) {
    .swiper-container, .single-banner {
      margin-top: -68px;
    }
  }
  
  @media (max-width: 768px) {
    .desktop {
      display: none;
    }
  }
  
  @media (min-width: 769px) {
    .mobile {
      display: none;
    }
  }
  
  .single-banner img {
    width: 100%;
    height: auto;
    display: block;
  }
  