.specificationsContainer {
  margin-top: 46px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 19px;
  flex-wrap: wrap;
}

.specificationItem {
  padding: 8px 24px;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.specificationItem:first-child {
  padding-left: 0;
}
.specificationItem:last-child {
  padding-right: 0;
}

.specificationInfo {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.specificationTitle {
  font-size: 16px;
  line-height: 24px;
}

.specificationValue {
  font-size: 14px;
  line-height: 16px;
  color: #474747;
}

@media screen and (max-width: 991px) {
  .specificationsContainer {
    margin-top: 0px;
    padding-top: 27px;
    border-top: inherit;
    justify-content: initial;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
  .specificationItem {
    padding: 8px 2px;
  }
  .specificationsContainer::-webkit-scrollbar {
    height: 0px;
  }
}
